[2020-01-07 16:36] tdsmith opened #239 "Add comment sections to probe details"
This is an off-the-wall idea that came up in the data science team meeting today: it would be super helpful if data scientists had a place to leave comments on probes to discuss their behaviour and share warnings for future travellers!

Maybe the answer is "just use Bugzilla," or maybe there's another place, but this is a place that many data scientists look and so it seems like it could profitabl

[2020-07-10 15:41] Dexterp37 opened #241 "Refine the metric page (transferred from old glean dictionary)"
cc @spasovski

I know this is a pre-alpha, but I thought to share my feedback on this anyway :-) There's a few small nits that I believe would make this page a bit more digestible (see the relative colored numbers on the image):

1. I'd change the label to resonate with the wording in [the Glean Docs](https://mozilla.github.io/glean/book/user/metric-parameters.html), i.e. `relevant bugs`
1a. It al

[2020-09-11 20:54] mdboom opened #23 "Don't show expired metrics by default"
Many of the probes in the existing probe dictionary are expired or deprecated (and they don't always have build end dates).  This causes confusion, since it might not be clear that no data will be available in those probes for currently-released products.  While the ability to access historical probes should always exist, we should optimize for what is presumably the common case of looking at new

[2020-09-14 14:42] wlach commented on #23
👍 note that some probes seem to be inaccurately marked as expired, see mozilla/probe-dictionary#116

[2020-10-01 14:33] mdboom opened #65 "Add searchfox links for metrics"
It would be super handy to provide searchfox search URLs that search the code base for uses of a given metric.  It should be enough to search for `category_name.metric_name` as a string.

Depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1668547

[2020-10-01 19:12] wlach opened #53 "Hide applications that are deprecated by default"
*This issue is intended as an onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

Currently we list all Glean applications in the UI by default on the home page (https://github.com/mozilla/glean-dictionary/blob/12ff6ac8f603f1245f6c6dcb9e4be9b85e28b135/src/pages/AppList.svelte), rega

[2020-10-01 19:28] wlach opened #54 "Add Python linting to CI and make it easy to run"
*This issue is intended as an initial onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

We only have a minimal amount of python code so far, but we will accumulate more over time. To keep the quality level up, we should enable linting with [flake8](https://flake8.pycqa.org/en/late

[2020-10-01 20:07] wlach opened #55 "Landing page MVP"
*This issue is for tracking purposes only, it is not meant to be assigned*

Tracking issue for the landing page (aka "application browser") feature of the MVP Glean dictionary.

https://docs.google.com/document/d/1OkTWA3rsSJ0m5g9GDnxXVUMkJP-xJMQk_bDgDq-Z9xM/edit#heading=h.3sj7wsl6yvo1

[2020-10-01 20:09] wlach opened #56 "Application page MVP"
*This issue is for tracking purposes only, it is not meant to be assigned*

Tracking issue for the application page feature of the MVP Glean dictionary.

https://docs.google.com/document/d/1OkTWA3rsSJ0m5g9GDnxXVUMkJP-xJMQk_bDgDq-Z9xM/edit#heading=h.t1r3cg3dhyco

[2020-10-01 20:11] wlach opened #57 "Ping page MVP"
*This issue is for tracking purposes only, it is not meant to be assigned*

Tracking issue for the ping page feature of the MVP Glean dictionary.

https://docs.google.com/document/d/1OkTWA3rsSJ0m5g9GDnxXVUMkJP-xJMQk_bDgDq-Z9xM/edit#heading=h.t1r3cg3dhyco

[2020-10-01 20:12] wlach opened #58 "Metric Page MVP"
*This issue is for tracking purposes only, it is not meant to be assigned*

Tracking issue for the metric page feature of the MVP Glean dictionary.

https://docs.google.com/document/d/1OkTWA3rsSJ0m5g9GDnxXVUMkJP-xJMQk_bDgDq-Z9xM/edit#heading=h.pkfezfxztbie

[2020-10-01 20:12] wlach opened #59 "Table Page MVP"
*This issue is for tracking purposes only, it is not meant to be assigned*

Tracking issue for the BigQuery table page feature of the MVP Glean dictionary.

https://docs.google.com/document/d/1OkTWA3rsSJ0m5g9GDnxXVUMkJP-xJMQk_bDgDq-Z9xM/edit#heading=h.243d9sn6y2d4

[2020-10-01 20:15] wlach opened #60 "Deploy a copy of Glean Dictionary to protosaur.dev"
*This bug requires specialized knowledge and access to Mozilla's internal systems, so is not a good issue for contributors*

We should deploy a copy of the Glean dictionary to protosaur.dev on a regular basis. protosaur currently requires auth (making it inaccessible to those outside Mozilla), but that should be fixed soon by mozilla/protodash#16

[2020-10-01 20:20] wlach opened #61 "Run ETL code after a schema deploy"
*This bug requires specialized knowledge and access to Mozilla's internal systems, so is not a good issue for contributors*

The Glean Dictionary currently has some etl code which you need to run adhoc to create a bunch of static data assets in https://github.com/mozilla/glean-dictionary/blob/12ff6ac8f603f1245f6c6dcb9e4be9b85e28b135/scripts/build-glean-metadata.py -- we may eventually move to stor

[2020-10-01 20:25] wlach commented on #23
There are some things that need to move into place before we can tackle this, so is not a good issue for contributors. However, we should be able to tackle this in phase 1.

[2020-10-01 20:56] wlach opened #62 "Storybook doesn't render components with styling"
*This issue is intended as an onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

We have a single story for the schema viewer, but it doesn't look great:

![image](https://user-images.githubusercontent.com/20569/94862281-bcdf5580-0406-11eb-920b-b96ad626f93e.png)

This is because th

[2020-10-01 21:18] wlach opened #64 "Searchbar MVP"
*This issue is for tracking purposes only, it is not meant to be assigned*

Tracking issue for the searchbar feature of the MVP Glean dictionary.

https://docs.google.com/document/d/1OkTWA3rsSJ0m5g9GDnxXVUMkJP-xJMQk_bDgDq-Z9xM/edit#heading=h.ioyxbpblrszv

[2020-10-01 21:23] wlach commented on #65
Let's try to implement this for the MVP, need to spec out a few things before it's ready for a contributor to tackle though.

[2020-10-02 14:54] wlach opened #66 "Metric pages show almost no info"
*This issue is intended as an onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

Despite having a bunch of metadata in them, we show almost nothing about the metrics on the metric page.

For a start, let's show everything the earlier glean dictionary prototype did:

![image](https:

[2020-10-08 13:15] wlach opened #73 "Add a filter box to the applications page"
*This issue is intended as an onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

If you look at the bigquery table view, you'll see that there's a filter box that lets you easily search for the subset of columns that you're interested in:

![image](https://user-images.githubusercon

[2020-10-08 13:20] wlach commented on #73
Assigning this to @dawoodshahat

[2020-10-09 13:13] wlach opened #76 "Add a footer to each page"
*This issue is intended as an onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

[GLAM](https://github.com/mozilla/glam) has a footer element with some useful information at the bottom of each page:

![image](https://user-images.githubusercontent.com/20569/95586546-d556fd80-0a0e-11

[2020-10-09 13:22] wlach opened #77 "Ping page has almost no info"
*This issue is intended as an onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

We show only a tiny subset of the data related to the ping on the ping page right now. You can see an example of markdown documentation which more fully represents the metadata we have here:

https://g

[2020-10-09 13:27] #73 closed

[2020-10-09 13:46] wlach commented on #76
Going to assign this to @mridubhatnagar

[2020-10-09 13:52] meghajain-1711 commented on #66
Hi @wlach So far I have added the following info ont he page through my code:

mach.system.memory
Amount of system memory.
relevant bugs : 1
send in pings : usage
lifetime application
disabled : false
data reviews 1
version : 0

And the page looks something like this :
![image](https://user-images.githubusercontent.com/59704142/95591034-6a381600-0a64-11eb-91fc-11930f755ec9.png)

The keys have been

[2020-10-09 14:05] wlach commented on #66
@meghajain-1711 looks like a great start! Can you post a draft PR of your work? It's probably easiest to track feedback there (that way I can directly comment on your code in addition to your ideas).

[2020-10-09 14:46] meghajain-1711 commented on #66
PR raised !

[2020-10-09 15:08] wlach opened #80 "Table search only searches in last part of the component"
*This issue is intended as an onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

Currently the filter search in the table view (e.g. http://localhost:5000/#!/apps/mach/tables/usage) only filters for content in the last "node" in the structure. e.g. if you have

[code]

and you sear

[2020-10-09 15:08] wlach commented on #80
Going to assign this to @hngerebara

[2020-10-09 17:06] DawoodShahat opened #81 "Pings or Metrics section goes blank when no data is provided"
If I click on the reference_browser app it navigates me to AppDetails.svelte page.

reference_browser app doesn't have any data available for pings
[http://localhost:5000/data/reference_browser/pings/](http://localhost:5000/data/reference_browser/pings/)

As in this screenshot of the page
![ping_example](https://user-images.githubusercontent.com/19612755/95611642-898e6d80-0a7b-11eb-9451-a54d4b2c8a

[2020-10-09 19:02] DawoodShahat opened #83 "Add breadcrumbs to help users understand their place in the application"
After navigating to this page I have no information on where I am on the application.

![ping_page](https://user-images.githubusercontent.com/19612755/95621457-273d6900-0a8b-11eb-8bbe-dede02f4b0c0.png)

Why not add a breadcrumb to help us navigate through the app in a proper way.

something like this

App / Fenix / Pings / Activation.

[2020-10-09 19:02] DawoodShahat commented on #83
@wlach What do you think about this?

[2020-10-09 19:31] UdokaVrede commented on #83
yeah this would be very helpful, I kept turn around for awhile too.

On Fri, Oct 9, 2020 at 8:02 PM Dawood Shahat <notifications@github.com>
wrote:

[2020-10-09 20:08] DawoodShahat commented on #81
Metrics info can be improved as well.

![metrics_info](https://user-images.githubusercontent.com/19612755/95627056-f2ceaa80-0a94-11eb-8e3d-d6d229b0c61a.png)

[2020-10-10 08:40] UdokaVrede commented on #80
Hi wlach how can I locate the initial qualification task

[2020-10-10 08:53] mhmohona commented on #80
Hello @UdokaVrede! I am another outreachy applicant like you but as @wlach is currently on vacation and will be available from Monday, I am replying you.

In project Outreachy [website](https://www.outreachy.org/outreachy-december-2020-internship-round/communities/mozilla/#extend-glean-dictionary) you will find details about initial qualification task.

These are steps mentioned there in website -

[2020-10-10 13:34] UdokaVrede commented on #80
Thanks

On Sat, Oct 10, 2020 at 9:54 AM Mahfuza Humayra Mohona <
notifications@github.com> wrote:

[2020-10-10 20:20] DawoodShahat opened #86 "Make Metrics section filterable"
While reading the proposal for glean-dictionary I came across this, Which proposes that the Metrics section on the ping page should be filterable

![filterable_list_of_metrics](https://user-images.githubusercontent.com/19612755/95664076-da769280-0b5d-11eb-9f62-68fee1c5ea82.png)

Currently, If we navigate to this page
[http://localhost:5000/#!/apps/fenix](http://localhost:5000/#!/apps/fenix)

It sh

[2020-10-11 11:47] dharmelolar commented on #76
hello, @wlach please can I work on this?

[2020-10-11 18:09] meghajain-1711 opened #88 "Pagination with Next Previous buttons"
For pages like http://localhost:5000/#!/apps/fenix , navigation becomes too difficult if the data is too much.

Apart from filtering as mentioned in another issue, we can also add Next Previous Buttons to show 1 to 100 or page limit.

This will be useful when user does not have the exact search term to filter.

[2020-10-11 19:09] DawoodShahat opened #89 "Failed to fetch some metrics data for fenix apps."
#### Issue description

Failed to fetch some metrics data for fenix apps.
The issue arises only when the metric name starts with metrics.any_metric

#### Steps to reproduce the issue

1.  navigate to [http://localhost:5000/#!/apps/fenix](http://localhost:5000/#!/apps/fenix)
2. search for a metric that starts with metrics.default_browser. Use this link [http://localhost:5000/#!/apps/fenix/metrics/m

[2020-10-11 19:18] meghajain-1711 commented on #89
Hi @DawoodShahat
I am not able to reproduce this issue,
I can clearly see the information as required.

This is with metric Detail added by my latest PR
![image](https://user-images.githubusercontent.com/59704142/95687917-33106300-0c24-11eb-8be0-7757d22daa14.png)

But even without my PR I can see the page as expected
![image](https://user-images.githubusercontent.com/59704142/95687992-95696380-0c2

[2020-10-11 19:26] DawoodShahat commented on #89
Thank you, I tried this on different browsers and it seems to work on firefox. But on google chrome, It still doesn't work. I think the local JSON request might be blocked by some extensions.

[2020-10-11 19:26] #89 closed

[2020-10-11 19:28] meghajain-1711 commented on #89
https://stackoverflow.com/questions/49343024/getting-typeerror-failed-to-fetch-when-the-request-hasnt-actually-failed/49895164

This one suggests just adding http before :)
Glad , I could help !

[2020-10-11 19:40] DawoodShahat commented on #89
I tried that one before. it didn't work out well. Someone suggested to disable extensions and by doing so it resolved the issue.

[2020-10-11 23:27] edward-hong commented on #89
Hi I can confirm that it works on Firefox but not on Chrome due to extensions also

[2020-10-11 23:47] DawoodShahat commented on #89
Hey, In my case It didn't work because of ad blocker extension.

[2020-10-12 15:54] meghajain-1711 opened #100 "Add info about the type of metric and expiry date on Metric Detail Page"
Currently the enhancement on Metric detail page so far shows only Json data.

We should add the information about :
1) Type of metric
2) Expiry date of the metric
3) Starting point(app) of the metric [ fenix/mach/...]

Where :
Below description of the Metric

More to do :
1) We can also add more_info links as hyperlink to the type of metric
2) Hyperlink to the starting point to take it back to the

[2020-10-12 16:12] meghajain-1711 opened #101 "Add link to github repo of Applications"
As per the Glean dictionary proposal :
![image](https://user-images.githubusercontent.com/59704142/95766930-a02e0200-0cd1-11eb-9841-4c71b1c2de03.png)

Application page should have a link to the application's source repository which is currently missing.

Where to add:
1) Below the Header for application name / Make the Application Name a hyperlink to the source repo
![image](https://user-images.gi

[2020-10-12 19:19] meghajain-1711 opened #102 "Processing invalid links in Bugs and Data Reviews Json"
**Issue description**
glean.page.path bugs and data reviews hyperlinks takes to invalid Bugzilla page.

**Steps to reproduce the issue :**
http://localhost:5000/data/glean-js/metrics/glean.page.path.json , check the json key: value pair of bugs and data_reviews
"bugs": ["https://bugzilla.mozilla.org/show_bug.cgi?id=actually-we-dont-have-this"], "data_reviews": ["https://bugzilla.mozilla.org/show_b

[2020-10-12 19:33] meghajain-1711 commented on #102
As @acmiyaguchi confirmed, this noisy data was due to glean-js being an experimental prototype app, so it didn't actually have a bug and data-review. Thanks @acmiyaguchi :)

@wlach is there some data pre-processing which we need to manage under glean dictionary proposal for similar noisy data later ? For eg: bugs and data review links which might be invalid.

[2020-10-12 21:47] wlach commented on #54
@Riju19 will work on this (can assign when they accept the github invitation)

[2020-10-13 13:33] wlach opened #105 "Include more application metadata"
We don't have a ton of Glean application metadata currently, but we have more than we're currently displaying (name + description).

In particular, we should include the following:
* source code URL -- where to look up the source code
* application id -- the id of the application, corresponding to what we use on the play store with android applications
* deprecated (if true) -- whether the applica

[2020-10-13 13:33] wlach commented on #105
@JoyLubega want to give this a try?

[2020-10-13 13:45] wlach opened #106 "Persist search state in BigQuery table view"
In the BigQuery table view we currently allow the user to search through the column names to find the ones of interest:

![image](https://user-images.githubusercontent.com/20569/95868613-680dda00-0d38-11eb-89c0-d27b9c3a3ee9.png)
http://localhost:5000/#!/apps/mozphab/tables/usage

It would be very handy if we could *persist* that search in the URL (and restore it when they visit it), so that people

[2020-10-13 14:27] wlach opened #108 "Better handle cases where application/pings/metrics/table do not exist"
Currently we just silently fail if the user navigates to an entity that does not exist. e.g.:

http://localhost:5000/#!/apps/burnham2
http://localhost:5000/#!/apps/fenix-nightly/pings/activation-doesnotexist

It would be better if we displayed some kind of friendly error page saying something like "Could not find application `burnham2`" or "Could not find ping `application-doesnotexist`". I don't

[2020-10-13 14:49] wlach opened #109 "We should gather all metric/ping types, not just those specified by the applications"
*This issue is intended as an onboarding task for potential outreachy applicants. Please do not work on it unless you have completed the initial qualification task and it has been assigned to you.*

Currently we're only gathering metrics and ping data from the applications themselves, not those specified by the libraries (e.g. the `events` ping is part of glean-core: https://github.com/mozilla/gle

[2020-10-13 15:51] mhmohona commented on #109
Can I work on this issue @wlach?

[2020-10-13 16:13] nonbinaryfrog commented on #108
Sure! I'll do my best!

On Tue, Oct 13, 2020 at 10:28 AM William Lachance <notifications@github.com>
wrote:

[2020-10-13 16:29] wlach commented on #83
This is a great suggestion. I think we should make it a svelte component and use a bit of tailwind to style it (doesn't have to be fancy at this point -- but you can see some examples here: https://tailwind-starter-kit.now.sh/docs/breadcrumbs). As with the footer, I *think* it should be possible to just include this component in the App.svelte and pass the required data to render it correctly base

[2020-10-13 16:31] #77 closed

[2020-10-13 17:04] DawoodShahat commented on #83
Alright, Working on it. Thanks.

[2020-10-13 19:33] LilyLME commented on #88
Hello @wlach @meghajain-1711 can I work on this?

[2020-10-13 21:10] edward-hong opened #113 "Testing"
Currently there's only an example test. It would be a good idea to add some testing maybe with something like svelte-testing-library along with Jest. This way we can familiarise ourselves with the codebase through writing some tests.

[2020-10-13 21:44] acmiyaguchi opened #114 "Page breaks when navigating to the ping information"
Navigating to a page for ping information (e.g http://localhost:5000/#!/apps/mozregression/pings/usage) leads to a broken page with the following error.

[code]

[2020-10-13 21:54] DawoodShahat commented on #114
Hey, I tried to reproduce the error, and It works fine on my end.

![Screenshot 2020-10-14 at 2 53 19 AM](https://user-images.githubusercontent.com/19612755/95920210-6e4b9700-0dc8-11eb-9962-713c3197c78d.png)

[2020-10-13 22:03] acmiyaguchi commented on #114
Thanks! Based on your comment I figured out that the data format changed and reran `build-glean-metadata.py`, which fixed the issue.

[2020-10-13 22:03] #114 closed

[2020-10-13 22:05] meghajain-1711 commented on #114
hey @acmiyaguchi ! The link works fine for me too, both on Chrome and Firefox  :)

[2020-10-14 13:24] brizental opened #116 "Have the UI flag when an app is on the prototype stage"
On https://github.com/mozilla/probe-scraper/issues/244 we added a flag that signals when an app is still on the prototype stage.

We should have the dictionary show that on the UI somehow.

This bug should be handled in two stages:
1. Define how we are going to add this flag to the Glean dictionary's UI, discuss the proposed solution (can be done on this issue's comments);
2. Implement whatever is

[2020-10-14 13:27] wlach opened #117 "Run storybook tests in ci"
Storybook snapshot tests in CI (where we verify that stories still render after a pull request) can often catch problems, e.g. it was helpful in the iodide project (see iodide-project/iodide#2506). I'm not sure how to set this up in Svelte but I'm guessing it should be possible. You can see the aforementioned PR for iodide for some ideas.

[2020-10-14 13:27] wlach commented on #117
@edward-hong care to give this a try?

[2020-10-14 13:28] wlach commented on #113
Hi @edward-hong, this is a good idea though the application doesn't have a lot of business logic at the moment so there's not a ton to test. I think running storybook snapshot tests might be a better approach at this point, see mozilla/glean-dictionary#117

Let's keep this open though and return to it later. I'm sure we'll start accumulating stuff to test before too long...

[2020-10-14 15:57] edward-hong commented on #117
Yea sure I'll take a crack at this

[2020-10-14 16:04] singhvaishnavi commented on #116
An app can be flagged on the UI which is on the prototype stage by:

1. Adding an asterisk on the end of the app name which will be only rendered if the value of `app.prototype` is `true`, for eg: `glean-js*`

2. Adding a label (color red) after the list of apps which shows _* Application under developement_

[2020-10-14 18:49] #66 closed

[2020-10-14 18:55] #86 closed

[2020-10-14 19:13] #62 closed

[2020-10-14 19:43] meghajain-1711 commented on #101
Hi @wlach what do you think about this ?

Do we have any predefined database for github repo of the applications ?
Can I add it to the page ?

[2020-10-14 19:44] #100 closed

[2020-10-14 19:49] wlach commented on #105
Fixed by #112

[2020-10-14 19:49] #105 closed

[2020-10-14 19:50] DawoodShahat commented on #101
Hey, @meghajain-1711 Here is a link to all the repositories

[https://probeinfo.telemetry.mozilla.org/glean/repositories](https://probeinfo.telemetry.mozilla.org/glean/repositories)

If you look at public/build/data/apps.json in the repo
you will find each app with the associated URL.

Hope this helps.

[2020-10-14 19:53] DawoodShahat commented on #101
If you want to make the apps linkable to its source repo. You would probably want to change
[https://github.com/mozilla/glean-dictionary/blob/main/src/pages/AppList.svelte](https://github.com/mozilla/glean-dictionary/blob/main/src/pages/AppList.svelte)

[2020-10-14 20:00] meghajain-1711 commented on #101
@DawoodShahat AppList would be the first page , the apps there would link to their own AppDetail page.

Hence I figured [as mentioned in the issue] that the update should be in the AppDetail.svelte

[2020-10-14 20:04] DawoodShahat commented on #101
Yes, they would link to their own AppDetail page but you can add a link beside each app that takes you to an external page(source repo).

[2020-10-14 20:07] wlach commented on #101
Hi @meghajain-1711 @DawoodShahat -- this was actually addressed by #112 -- feel free to look there for the solution.

[2020-10-14 20:07] #101 closed

[2020-10-14 20:07] meghajain-1711 commented on #101
Haha , it seems the data is in index.json as app.url  !!
And someone has recently added it as well !

[2020-10-14 20:08] meghajain-1711 commented on #101
Yeah ! Just saw ! 20 secs too late , my bad !

[2020-10-15 00:15] #80 closed

[2020-10-15 08:27] brizental commented on #116
Hey @singhvaishnavi thanks for the proposal! On 1., do you mean to add such asterisk on the dropdown list? Like so:

<img width="410" alt="Screenshot 2020-10-15 at 10 07 49" src="https://user-images.githubusercontent.com/25176023/96095008-53634a80-0ece-11eb-924d-2c17bb7912be.png">

Personally I don't think it is necessary to add it in the dropdown, this could be a banner on the app's page. This wa

[2020-10-15 08:30] brizental commented on #116
Now that I think about it, a more drastic solution would be to just not list prototype apps at all on the Glean Dictionary, I started wondering now if there is any value to showing them at all. That would mean doing to prototypes the same thing we are doing to deprecated apps (see https://github.com/mozilla/glean-dictionary/issues/53).

[2020-10-15 12:21] wlach commented on #88
Yup! We're trying to get applicants to do at least one frontend bug as part of their work and this is a good candidate. Thank you @meghajain-1711 for filing.

Pagination that looks something like this would be good:

![image](https://user-images.githubusercontent.com/20569/96122116-05931600-0ebf-11eb-81ea-17a2039c771d.png)

Some inspiration for creating pagination components can be found here:

ht

[2020-10-15 12:37] wlach commented on #116
Hi @brizental @singhvaishnavi -- the first screenshot @brizental posted is not applicable (that was an older version of the Glean/Probe dictionary which focused more on metrics).

However! I think the second screenshot (with its warning text) is exactly what we'd want on the app page (http://localhost:5000/#!/apps/glean-js). On the index page (http://localhost:5000/), you can flag applications tha

[2020-10-15 12:50] brizental commented on #116
Oops, I didn't realize we had a new UI.

Definitely, this makes a lot of sense.

@singhvaishnavi Do you think you can go ahead with the implementation after this discussion?

[2020-10-15 12:55] singhvaishnavi commented on #116
Yes, I can implement adding the pill next to the prototype apps, similar to #112

[2020-10-15 14:24] wlach commented on #53
Fixed by #78

[2020-10-15 14:24] #53 closed

[2020-10-17 16:34] mhmohona opened #123 "In ping page multiple emails are not shown properly"
On ping page, if there are multiple emails in the Notification Emails section, it is shown one after one without any gap which makes the email unreadable.

![image](https://user-images.githubusercontent.com/14244685/96348041-c4218700-10c7-11eb-959c-f8387325d967.png)

Where to change: https://github.com/mozilla/glean-dictionary/blob/36c1fb7d5c09e2f2026b2f77f26f39dafaa9c3db/src/pages/PingDetail.svel

[2020-10-18 06:07] mhmohona opened #125 "Add filterable list of pings in Application Page"
According to the proposal, there should be a filterable list of pings associated with the application.
![proposal](https://user-images.githubusercontent.com/14244685/96359894-9aa14380-1139-11eb-8cde-93e96d97f7e4.png)

Currently, in our application page there is no filter been added for pings. The page looks like this:

![Screenshot_2020-10-18 Glean Dictionary Prototype](https://user-images.githubu

[2020-10-18 08:24] mhmohona opened #127 "Add a backlink to the application which produced the ping"
According to the proposal, on ping page there should a backlink to the application be added which produced the ping.

![proposal](https://user-images.githubusercontent.com/14244685/96362188-66378280-114d-11eb-8cd2-92f436a9ca25.png)

Where to change: https://github.com/mozilla/glean-dictionary/blob/main/src/pages/PingDetail.svelte

[2020-10-19 04:44] DawoodShahat opened #130 "[Bug] Some Metric pages aren't accessible"
Steps to reproduce:

- Checkout these link, when you have your local server running

[http://localhost:5000/#!/apps/reference-browser/metrics/experiments.metrics.active_experiment](http://localhost:5000/#!/apps/reference-browser/metrics/experiments.metrics.active_experiment)

 [http://localhost:5000/#!/apps/reference-browser/metrics/toolbar.events.url_committed](http://localhost:5000/#!/apps/refer

[2020-10-19 08:08] mhmohona opened #142 "External link should be opened in new tab"
Opening an `external link` in a new tab allows one to explore the other site as much as they want without having to hit the back button again. It helps to keep focus in one place without losing other websites' information.

Currently, **metrics page** opens external links in new tab. **Pings page** and **Tables page** need to be updated.

Here another thing to be noted, we should not open `interna

[2020-10-19 09:33] #116 closed

[2020-10-20 07:35] mhmohona opened #146 "Improve filter"
In the filter box when we search for something and it doesnt match with any item, just a blank page stares at us. There should a text telling search doesnt match with any application or martics.

[2020-10-20 14:16] LilyLME commented on #146
@mhmohona I would like to work on this.

[2020-10-20 14:28] LilyLME commented on #146
## Preview

![Screenshot from 2020-10-20 15-26-59](https://user-images.githubusercontent.com/38939048/96600431-d595a980-12e8-11eb-8044-e655a1a735e4.png)

[2020-10-20 17:46] mhmohona commented on #146
Thank you for your interest but have already added fix for this issue @LilyLME 😄

[2020-10-20 18:23] #125 closed

[2020-10-20 18:31] wlach commented on #127
This duplicates #83.

[2020-10-20 18:31] #127 closed

[2020-10-20 19:49] wlach commented on #142
Not sure about this one, it's fairly easy to open links in a new tab by right clicking on things and people might prefer it that way. We should get more feedback from the intended audience of the tool (data practitioners at Mozilla) before going ahead with this. I'm going to leave this open for now, but close the pull request.

[2020-10-20 21:02] mhmohona commented on #142
So when I was checking the ping page and matrics page for the first time, for matrics page external links were opening in new tab but for ping page it was not. I got confused at first why same thing is happening in two different ways for two pages. I thought maybe it would be better to make thingswork in same way for all pages. Thats why rised this issue and made PR.

[2020-10-21 13:41] #130 closed

[2020-10-21 19:58] wlach opened #151 "Display notification emails on application pages"
We currently display email addresses on the ping page:

![Screen Shot 2020-10-21 at 3 57 49 PM](https://user-images.githubusercontent.com/20569/96775926-40f97d00-13b6-11eb-9d1d-54f6547d4c4d.png)
http://localhost:5000/#!/apps/mozregression/pings/usage

The repository metadata also has this information, however, and it would be good to display it on the application page (http://localhost:5000/#!/app

[2020-10-21 21:01] #123 closed

[2020-10-21 21:09] #108 closed

[2020-10-21 21:20] wlach opened #153 "Render markdown in description fields"
Currently we're now rendering markdown in Glean description fields, which doesn't look great:

![image](https://user-images.githubusercontent.com/20569/96788307-490aea00-13c1-11eb-870f-fb26f8b2e4db.png)
http://localhost:5000/#!/apps/mozregression

We should render these types of fields with markdown. For the [schema dictionary](https://github.com/mozilla/schema-dictionary) I used the `marked` pars

[2020-10-22 13:39] wlach commented on #106
After talking to @oalbacha, I'm going to reassign to @Riju19

[2020-10-22 16:08] #54 closed

[2020-10-22 16:11] #83 closed

[2020-10-22 20:10] LilyLME opened #154 "Getting a 404 on console for favicon."
[code]

[2020-10-22 21:15] #81 closed

[2020-10-23 22:10] alvesitalo commented on #153
I sent a pr https://github.com/mozilla/glean-dictionary/pull/155 fixing this @wlach.

[2020-10-23 22:41] wlach commented on #153
Thanks! I will have a look at it on Monday.

[2020-10-28 13:36] wlach commented on #154
I believe this is web browser default behaviour to just check for this, so we're not seeing this because of anything we're doing wrong. That said, we should create/add a favicon for sure at some point for sure.

[2020-10-28 13:52] LilyLME commented on #154
Great, whenever that's (favicon) available, I would just go ahead and add it then.

[2020-10-28 15:09] Iinh opened #171 "Wrong email format in mozphab app"
Right now the notification email for mozphab is not in the right format:

<img width="740" alt="wrongemail" src="https://user-images.githubusercontent.com/28797553/97454039-8dcbdf00-18f3-11eb-8e51-e98ae92f08c5.png">

This is due to an error in the source data https://probeinfo.telemetry.mozilla.org/glean/repositories.

<img width="519" alt="source" src="https://user-images.githubusercontent.com/28

[2020-10-28 15:44] wlach commented on #171
@linh Yeah I'd say this is out of scope for the glean dictionary. The file causing problems here, would you care to submit a quick PR there? You can just use GitHub's "edit this file" since it's such a simple change.

https://github.com/mozilla/probe-scraper/blob/master/repositories.yaml

Aside: I'm a little surprised that `foo@bar.com@bar.com` is considered a valid email address, but apparently i

[2020-10-28 15:44] #171 closed

[2020-10-28 16:30] wlach commented on #142
Incidentally we can set navigation links to open in a new tab by default via the `<base>` element. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base

[2020-10-28 16:35] #151 closed

[2020-10-29 05:06] mhmohona commented on #142
@wlach, shall I refactor #143?

[2020-10-29 20:55] #146 closed

[2020-10-30 00:01] acmiyaguchi commented on #154
It's actually missing from the project (as opposed to being browser behavior).

https://github.com/mozilla/glean-dictionary/blob/df3b4005f151b82d9faa0f0751658ec31dc85aa3/public/index.html#L9

[2020-10-30 20:16] #153 closed

[2020-11-04 15:38] Riju19 commented on #106
Pull Request #170 fixes this issue. Can we close this one?

[2020-11-04 15:43] wlach commented on #106
Yup! Usually it closes automatically, will do so now.

[2020-11-04 15:43] #106 closed

[2020-11-09 15:14] wlach commented on #109
So on reflection, I think this issue is quite a bit harder than I initially thought, and I think the rest is better done by me since there's a fair amount of subtle Mozilla-specific context required for a proper solution. Thanks @mhmohona for a great start!

[2020-11-09 15:19] mhmohona commented on #109
It's my pleasure to learn from you.

[2020-11-09 15:36] wlach opened #187 "BigQuery table link doesn't fit into rest of metadata"
I added a link to the BigQuery table view when working on the initial skeleton. With some of the recent changes, it now looks pretty out of place:

![Screen Shot 2020-11-09 at 10 20 57 AM](https://user-images.githubusercontent.com/20569/98560098-67079400-2275-11eb-8498-f5a928814ecf.png)

It should be an item in the table below (just after "notification email"). I would propose the following struct

[2020-11-09 15:49] wlach opened #188 "Expanding the scope of this repo to be useful as a library?"
Some of the logic in this repository (e.g. grabbing ping representations and dependencies) is useful outside of the context of
schema generation.

Currently the glean dictionary is using a [hand-rolled script](https://github.com/mozilla/glean-dictionary/blob/906f5f5dea07fdb886d0829ee405aa9ad89aa213/scripts/build-glean-metadata.py) which cribs a bunch of stuff from this library. @robhudson's probe

[2020-11-09 16:11] fbertsch commented on #188
A few reasons for "yes":
 - The dependency generation is a bit difficult to understand, and this library fixes that for users
 - The default behavior (for metrics, pings, and apps) is defined sometimes here and sometimes in the probe-info-service

A few reasons for "no":
 - Parts of this library are very specific for schema generation: see e.g. the `Schema` class and `Config` class; scripts
 - It

[2020-11-10 15:34] #187 closed

[2020-11-11 14:53] wlach commented on #142
Sorry for the late response on this. I think still no, for now: I'd like to get more feedback from the potential users of this thing first.

[2020-11-11 15:02] wlach opened #190 "Descriptions of metrics on app page seem incorrect"
For example on https://glean-dictionary-dev.netlify.app/#!/apps/fenix we see this on the second page:

<img width="907" alt="image" src="https://user-images.githubusercontent.com/20569/98827437-e081bc80-2404-11eb-8af3-39831b9f4aaa.png">

This is clearly incorrect, which you can see if you navigate to the metric detail:

https://glean-dictionary-dev.netlify.app/#!/apps/fenix/metrics/browser.search.

[2020-11-11 15:14] mhmohona commented on #142
Alright!

[2020-11-11 15:14] wlach opened #191 "Bugs and issues should be shortened in UI"
Right now we display the full URLs to bugzilla bugs and github issues. For example:

<img width="1112" alt="image" src="https://user-images.githubusercontent.com/20569/98827888-5dad3180-2405-11eb-88a3-74d5c3cc9d57.png">

and:

<img width="656" alt="image" src="https://user-images.githubusercontent.com/20569/98827929-6b62b700-2405-11eb-9079-b4b7aa847960.png">

It would be nice to use an easily read

[2020-11-11 16:21] Iinh commented on #190
@wlach Could I work on this issue?

[2020-11-11 16:25] wlach commented on #190
For sure! Please go ahead.

[2020-11-11 16:40] mhmohona commented on #191
Can I work on this issue?

[2020-11-11 16:49] wlach commented on #191
For sure!

[2020-11-11 16:56] mhmohona commented on #190
In app page, this is happening for some other metric disruptions as well, not only for browser.search.ad_clicks.

[2020-11-11 17:13] DawoodShahat commented on #117
@wlach Can I work on this issue?

[2020-11-11 19:19] wlach commented on #117
I think so, it's been nearly a month so am guessing Edward has moved on. This would be hugely valuable BTW (it would give us enough confidence to auto-merge dependabot PRs, which is currently a manual process)

[2020-11-11 20:18] DawoodShahat commented on #117
Yeah thanks, will start working on it right away.

[2020-11-12 21:50] #190 closed

[2020-11-12 21:58] wlach opened #193 "Seperate out "Pings" and "Metrics" into seperate tabs"
Currently we show "pings" and "metrics" on the app page one after another:

![image](https://user-images.githubusercontent.com/20569/99000546-73a31b00-2507-11eb-8b85-8cc51fd78c56.png)

This forces the user to scroll down and see more, which is a little awkward. One obvious approach here is to use a tabbed notebook interface, to let users show one or the other. I think in most cases the order shoul

[2020-11-12 21:58] wlach commented on #193
@Riju19 -- would you be interested in taking this on?

[2020-11-12 22:05] Riju19 commented on #193
Yes, absolutely!

[2020-11-15 13:44] LilyLME commented on #154
## OPTION ONE

![imageedit_2_7301618571](https://user-images.githubusercontent.com/38939048/99186487-e5ba7080-2750-11eb-9d10-7dd4de46cb1b.png)

## OPTION TWO
![imageedit_3_2666423012](https://user-images.githubusercontent.com/38939048/99186490-e7843400-2750-11eb-8aef-04a24de71537.png)

## OPTION THREE
![imageedit_3_8161345328](https://user-images.githubusercontent.com/38939048/99186493-e81cca80-27

[2020-11-15 13:45] LilyLME commented on #154
The rough views can be cleared, so each template is just to give an idea.

[2020-11-15 13:45] LilyLME commented on #154
The rough edges would be cleared, so each template is just to give an idea.

[2020-11-20 15:12] #117 closed

[2020-11-20 15:58] #193 closed

[2020-11-21 15:29] wlach commented on #154
@LilyLME Sorry for the late reply on this. I think ideally we would have unique branding for the Glean dictionary but I think this is definitely better than nothing. Option (2) looks good to me, it probably will look reasonable when scaled down. @Dexterp37 @mdboom  does this seem like reasonable use of the glean assets to you?

[2020-11-21 18:44] Riju19 opened #210 "Persist 'Show deprecated applications' checkbox checked state"
Currently, when a user selects the checkbox to show deprecated applications and clicks on an application, on returning back to the main applications page, the state of this checkbox gets reset to being unselected.

This task is to persist the state of the checkbox, so that on returning back, the checkbox would be pre-populated to the last state, and therefore, have the list of applications (along

[2020-11-21 18:52] Riju19 opened #211 "Display metric type and expiry date separately from the metric description"
When we view a specific metric, the metric type and the expiry date get mixed up with the description.

![image](https://user-images.githubusercontent.com/24811075/99885087-8250a700-2c58-11eb-86df-0f7b7d6b8c58.png)

We could probably display that as part of the table, or we above the table, in a format something like -
 Metric Type: event / Expiry Date : 2020-09-01

[2020-11-22 22:00] wlach commented on #211
I think the "metric type" is worth highlighting above the table (or whatever we wind up using later) but the expiry date should definitely go below the fold.

Possibly interesting as reference here is the rendered markdown documentation for glean apps: https://github.com/mozilla/mozregression/blob/master/docs/glean/metrics.md

[2020-11-22 22:00] wlach commented on #211
@Riju19 assigning this to you under the assumption you'd like to work on it

[2020-11-22 22:01] wlach commented on #210
Yup, definitely. Ideally all application state like this will be persisted in the URL eventually.

[2020-11-24 20:50] wlach opened #223 "Link back to metric and ping definitions in source control"
It is sometimes handy to be able to go *back* to the original definitions in GitHub (or other source repositories) where glean metrics and pings are defined (e.g. to fix a typo or make an edit).

I would propose adding a "Defined in" field inside the metrics and ping pages that linked back to the metric and ping files at the appropriate line number. For example, for [the usage ping for mozregressi

[2020-11-24 21:03] wlach opened #224 "Implement skeleton of search bar"
The search bar is going to be a complicated beast to get right, but we have to get started somewhere. [GLAM](https://github.com/mozilla/GLAM)'s search bar looks pretty nice and seems like a reasonable starting point for our own implementation:

![image](https://user-images.githubusercontent.com/20569/100150123-2d39ae80-2e6d-11eb-879c-5bf326e1ee04.png)

It is defined here:

https://github.com/mozil

[2020-11-24 21:23] wlach opened #225 "Consolidate metrics display between application and ping pages"
Application and ping pages show metrics in more or less the same way, but the application page has some nice features (e.g. pagination by @LilyLME, filtering by @DawoodShahat) that the ping page lacks. Compare:

https://glean-dictionary-dev.netlify.app/#!/apps/fenix

vs.

https://glean-dictionary-dev.netlify.app/#!/apps/fenix/pings/metrics

We should extract the logic that displays the pings from

[2020-11-24 21:23] wlach commented on #23
I think we can start implementing this. I think there are a few elements here:

1. We need to include expiry date information in the metrics summary we use on the application page (https://github.com/mozilla/glean-dictionary/blob/3bfedda171c13155ff89b75947a1636f4a8da5ab/scripts/build-glean-metadata.py#L66 and https://github.com/mozilla/glean-dictionary/blob/3bfedda171c13155ff89b75947a1636f4a8da5ab

[2020-11-24 21:24] wlach commented on #23
#225 might be nice to fix before this one, it would probably reduce the work involved a bunch to make it work nicely on both the application and ping pages.

[2020-11-26 10:10] Dexterp37 commented on #154
@wlach yes, Option (2) looks good to me too! FWIW:

- [This](https://glean-dictionary.netlify.app/favicon.png) is the favicon from the currently deployed https://glean-dictionary.netlify.app/ .
- If that's not good enough, we also have vector-based Glean assets to derive the favicon from.

[2020-11-30 16:08] Iinh commented on #223
@wlach Can I work on this?

[2020-11-30 16:15] wlach commented on #223
For sure! For (1) I would recommend reaching out to the Glean team on https://chat.mozilla.org/#/room/#glean:mozilla.org

[2020-12-03 21:09] mdboom opened #240 "For Glean, we should collect all the labels ever used on a labeled metric"
In Glean, we want to encourage users to remove deprecated labels from their metrics.  But it would still be good to document in the dictionary all the labels that have been used on historical data.

This would basically require going through the entire history for a metric and collecting all of the labels used.  Bonus points for flagging the ones that no longer exist in the latest revision.

See h

[2020-12-03 21:13] wlach commented on #240
Guessing this would be an example of a labeled metric:

http://localhost:5000/#!/apps/firefox-reality/metrics/history_sync.failure_reason

[2020-12-03 21:19] wlach commented on #239
I'm not sure if/when we'll do this for the glean dictionary, but if it's going to happen anywhere, it's going to happen here. 😄

[2020-12-03 21:33] wlach commented on #76
We really need this sooner than later, so I'm going to take this over using @mridubhatnagar's excellent initial work as a base.

[2020-12-03 21:54] wlach commented on #241
Not sure how much of this feedback is still relevant, but moving this here just to make sure we're not missing anything.

[2020-12-03 21:54] chutten opened #242 "Glean dictionary: should we show the `category.name` format instead of `category_name` transformed format?"
Or maybe we should show both? (in the details view perhaps)? I find categories helpful in understanding the organization of metrics, so it would be nice to be able to more easily pick them out.

[2020-12-03 21:55] wlach commented on #242
@chutten I have to confess I'm not sure what you mean here. Can you take a look at https://glean-dictionary-dev.netlify.app and give me an example of what you'd like changed?

[2020-12-03 21:58] #109 closed

[2020-12-03 22:06] wlach opened #243 ""Includes client identifier" field incorrect on ping page"
The Fenix baseline ping *definitely* contains a client identifier, but the UI is incorrectly saying it doesn't have one:

![image](https://user-images.githubusercontent.com/20569/101093940-97e39c00-3589-11eb-9f11-d0d74218ea5b.png)

https://glean-dictionary-dev.netlify.app/#!/apps/fenix/pings/baseline

The bug is somewhere in here, most likely:

https://github.com/mozilla/glean-dictionary/blob/main

[2020-12-04 20:14] #76 closed

[2020-12-04 20:57] chutten commented on #242
For example, `storage.stats.app_bytes`: https://glean-dictionary-dev.netlify.app/#!/apps/fenix/metrics/storage.stats.app_bytes

Looks like you're using the name as described in the yaml whereas the name present in datasets would be `storage_stats_app_bytes`. Being able to search using either punctuation could be helpful.

[2020-12-04 21:12] wlach commented on #242
Yeah, possibly a set of direct links to their representation in the schema would be useful. e.g. in this case:

https://glean-dictionary-dev.netlify.app/#!/apps/fenix/tables/metrics?search=metrics.memory_distribution.storage_stats_app_bytes

[2020-12-04 21:24] wlach opened #246 "Pagination doesn't work well with a large number of metrics"
Apps like fenix have a very large number of metrics:

![image](https://user-images.githubusercontent.com/20569/101214121-79dd7080-3649-11eb-9147-40ce6350549d.png)

We probably shouldn't show all the pages as links in this case. Instead, let's use the approach [defined here](https://ux.stackexchange.com/a/4129) and show something like this:

![image](https://user-images.githubusercontent.com/20569/

[2020-12-04 22:07] wlach opened #248 "Glean client info metrics (e.g. device_model) are handled incorrectly"
Currently the Glean dictionary is surfacing metrics like `device_model` which are instead supposed to appear in every ping as being in a non-existent ping called `glean_client_info`:

![image](https://user-images.githubusercontent.com/20569/101219535-2c193600-3652-11eb-8b2a-a9628da3a914.png)
https://glean-dictionary-dev.netlify.app/#!/apps/fenix/metrics/device_model

I'm guessing we should be smar

[2020-12-07 12:21] badboy commented on #248
For general context: all "pings" that start with `glean_` are reserved.
For more detail (documented here): https://mozilla.github.io/glean/book/dev/core/internal/reserved-ping-names.html:
We have 2 "special" pings:

1. `glean_client_info` maps to the `client_info` section
2. `glean_internal_info` maps to the `ping_info`

Both sections are in every ping, however some fields in `client_info` might n

[2020-12-09 14:52] fbertsch opened #257 "Opening links in new tabs leads to a 404"
Steps to reproduce:
1. Start in an app, e.g. https://glean-dictionary-dev.netlify.app/#!/apps/firefox-ios-beta
2. Control+click any of the metrics on that page, and the new tab is a 404: https://glean-dictionary-dev.netlify.app/apps/firefox-ios-beta/metrics/app.opened_as_default_browser

Clicking on it in _not_ a new tab does not 404.

[2020-12-09 15:08] wlach opened #258 "Add "type" to metric summary"
From @fbertsch:

The first prototype included "types" of each metric on the summary page, we should do the same in this version:

![image](https://user-images.githubusercontent.com/20569/101646988-364a8400-3a06-11eb-93d1-6e010cfc2ad7.png)

[2020-12-09 15:47] wlach commented on #257
Should be fixable by adding a `_redirects` file. We should also move away from using hash-based routing (inconsitently):

https://docs.netlify.com/routing/redirects/rewrites-proxies/#history-pushstate-and-single-page-apps

[2020-12-10 10:41] Dexterp37 opened #259 "The list of pages overflows its container in Firefox Nightly"
![image](https://user-images.githubusercontent.com/883721/101761464-767c3600-3adc-11eb-85b8-e67e79358dc6.png)

The gray strip of numbers at the bottom of the page seems to be overflowing outside of its container? Should this be contained in the "Metrics" pane?

[2020-12-10 14:52] wlach commented on #259
Thanks for filing! This is a duplicate of #246

[2020-12-10 14:52] #259 closed

[2020-12-11 08:24] mhmohona commented on #258
Will it be like this?
![image](https://user-images.githubusercontent.com/14244685/101880070-879c7400-3bbc-11eb-8f16-ba7fb8a8e0d0.png)

[2020-12-11 16:20] wlach commented on #258
@mhmohona We'd want to add this information to the metrics list on the app page (example: https://glean-dictionary-dev.netlify.app/#!/apps/fenix) and the ping page (example: https://glean-dictionary-dev.netlify.app/#!/apps/fenix/pings/activation)

Related: @Iinh is going to consolidate the display of metrics into one component in #225 -- at which point you'd only need to add this to one component

[2020-12-11 19:36] #257 closed

[2020-12-12 03:46] singhvaishnavi commented on #243
@wlach can I work on this?

[2020-12-12 03:47] wlach commented on #243
Yes, please go ahead!

[2020-12-12 16:32] wlach commented on #243
Fixed by #261

[2020-12-12 16:32] #243 closed

[2020-12-15 19:41] wlach opened #277 "Use lodash"

[2020-12-15 19:41] wlach opened #278 "Use lodash's chunk feature to simplify pagination logic"
As suggested in: https://github.com/mozilla/glean-dictionary/pull/119#discussion_r508596663

Note that we now have lodash included in the repository since #194, so you don't even need to add the library. Just use it and go. :)

[2020-12-16 14:42] wlach commented on #277
Filed this by mistake

[2020-12-16 14:42] #277 closed

[2020-12-16 14:45] wlach commented on #59
All the items in the spec are implemented, let's call this done.

[2020-12-16 14:45] #59 closed

[2020-12-16 14:46] wlach commented on #55
All the items in the spec are implemented, let's call this done.

[2020-12-16 14:46] #55 closed

[2020-12-16 14:46] wlach commented on #56
All the items in the spec are implemented, let's call this done.

[2020-12-16 14:46] #56 closed

[2020-12-16 14:48] wlach commented on #57
This is done except for the backlink to the source definition, which is covered by #223. Let's close this in favor of that.

[2020-12-16 14:48] #57 closed

[2020-12-16 16:19] #225 closed

[2020-12-16 17:21] wlach opened #279 "Firefox for Android Metrics should link out to GLAM"
For example, we should have a link on:

https://glean-dictionary-dev.netlify.app/apps/fenix/metrics/geckoview.page_reload_time

To:

https://glam.telemetry.mozilla.org/fenix/probe/geckoview_page_reload_time/explore

We should do this for all the channels, not just nightly:

* https://glean-dictionary-dev.netlify.app/apps/firefox-android-release/metrics/geckoview.page_reload_time -> https://glam.te

[2020-12-16 17:24] robhudson commented on #279
I'd be happy to work on this if you'd like.

[2020-12-16 18:04] wlach commented on #279
That would be awesome! I'll assign this to you.

[2020-12-16 18:06] wlach commented on #279
For a first implementation, I'm fine with hardcoding the references to GLAM in the source to this project. We should figure out a more principled way of doing this in the future though.

[2020-12-16 19:17] wlach commented on #258
@mhmohona Update: #225 has landed, so please go ahead and work on this! You'll want to modify https://github.com/mozilla/glean-dictionary/blob/main/src/components/ItemList.svelte and the things that call it.

[2020-12-16 19:32] wlach opened #280 "Link to BigQuery tables from metrics"
The only way to get to the bigquery table for a metric is via the ping view:

![image](https://user-images.githubusercontent.com/20569/102396741-dece8a00-3faa-11eb-9488-92ee643f64c7.png)

https://glean-dictionary-dev.netlify.app/apps/fenix/pings/metrics/

We should *also* link out to this information from the page for the metric. For example:

https://glean-dictionary-dev.netlify.app/apps/fenix/me

[2020-12-16 19:35] wlach commented on #248
Thanks @badboy -- looks like this is just a bug which we should fix.

[2020-12-16 19:36] wlach commented on #113
We now have one test:

https://github.com/mozilla/glean-dictionary/blob/main/tests/state.urls.test.js

I'm sure we'll add more as time goes on. Closing this one.

[2020-12-16 19:36] #113 closed

[2020-12-16 19:38] wlach commented on #58
This is mostly down, remainder of this meta issue covered by individual bugs which are currently set against this milestone.

[2020-12-16 19:38] #58 closed

[2020-12-16 19:50] wlach commented on #64
Let's tackle this in #224.

[2020-12-16 19:50] #64 closed

[2020-12-18 20:00] #278 closed

[2020-12-18 20:00] #246 closed

[2020-12-18 20:06] wlach opened #285 "Metrics list should be fixed in height"
Currently the metrics list jumps around a bunch as you paginate through results:

![image](https://user-images.githubusercontent.com/20569/102656786-6c90ad80-4142-11eb-9dbc-d20bb63d91fc.png)

This is because the height is not fixed. We should probably make it a fixed-height container, like we do with the schema browser:

![image](https://user-images.githubusercontent.com/20569/102656824-84683180-4

[2020-12-18 20:20] Iinh commented on #88
@wlach I think we can close this issue now?

[2020-12-18 20:24] wlach commented on #88
Yup! Thank you @LilyLME and @Iinh for your work here.

[2020-12-18 20:24] #88 closed

[2020-12-19 15:14] wlach commented on #154
Oh right, I didn't even think about looking at the early glean dictionary! Moving ahead with option (2) by just copying what's in https://glean-dictionary.netlify.app/ seems like the best option -- I believe it's stored here: https://github.com/mozilla/probe-dictionary/tree/sveltify/public . Thanks @LilyLME for exploring the solution space -- I think this issue is now open if someone wants to look

[2020-12-22 15:55] wlach commented on #65
I think this is ready to look at. We can start just by searching searchfox (which has most of the products we care about, see "repositories" at https://searchfox.org/) for metric names.

I think mostly this is about creating a searchfox link in the metrics page. This is analagous to the view that the probe dictionary has:

![image](https://user-images.githubusercontent.com/20569/102907372-f347d200

[2020-12-22 20:35] wlach opened #293 "Add tooltips with contextual help for application, ping and metric fields"
One trick we've been using with internal dashboards is to have help icons which, on hover, pop up contextual help to give people an idea of what the field means. See for example, the [desktop funnel dashboard](https://github.com/mozilla/funnel):

![image](https://user-images.githubusercontent.com/20569/102930096-cdcdbf00-4469-11eb-90ab-177a19e3b920.png)

We should do something similar in the Glean

[2020-12-22 22:03] wlach opened #295 "Add Git version information to footer"
When working on [iodide](https://alpha.iodide.io) I added a handy feature that would tell you the version that was deployed in the footer. We should add something similar for the glean dictionary. This will become more important as we move to production deploys and it becomes less obvious what version is in use.

![image](https://user-images.githubusercontent.com/20569/102936511-4c305e00-4476-11eb

[2020-12-24 17:32] Fenn-CS commented on #295
Hello @wlach please assign this to me.

[2020-12-25 18:07] wlach commented on #295
For sure, in the future don't worry about being explicitly assigned -- you can just let people know you're working on something and we'll figure it out from there.

[2020-12-26 10:57] Ankita13-code commented on #224
Can I work on this? I've never implemented a search bar before but would be happy to learn and implement this under your guidance @wlach!

[2020-12-26 11:07] Ankita13-code commented on #23
Hii! Can I work on this?

[2020-12-26 13:20] wlach commented on #23
Yes, please go ahead. I think there should be enough information above to get started. I won't be around consistently for the next week, but feel free to ask in #glean-dictionary if you get stuck.

[2020-12-26 13:22] wlach commented on #224
Going to work on this in the new year -- assigning to myself to make this more clear.

[2020-12-27 14:37] #295 closed

[2020-12-27 14:53] Fenn-CS commented on #293
Picking this up.

[2020-12-30 13:33] #285 closed

[2021-01-04 15:39] #280 closed

[2021-01-05 14:03] wlach commented on #258
@mhmohona do you think you'll be able to work on this any time soon? I think we want this implemented sooner than later, so I might pick this up if you're not available.

[2021-01-05 14:57] wlach commented on #248
I am wondering if this type of correction/transformation might be better done in probe-scraper, in line with the philosophy behind @jklukas's proposal here: https://docs.google.com/document/d/1_zx0cxBnnFOhct1cCb_QnXntV-HN9sjqfGfiBwEBL-8/edit?disco=AAAAK-qYzzw

I believe this would require translating these "metrics" out of these glean-specific files, and re-specifying them in the context of the ap

[2021-01-05 15:30] jklukas commented on #248
It looks like the [schema pipeline handles this within m-s-g](https://github.com/mozilla/mozilla-schema-generator/blob/9df85aed48c1cf6012a744673ca0ec3050471c27/mozilla_schema_generator/glean_ping.py#L34-L40), listing a specific set of pings to ignore, and then also handles the logic of resolving dependencies.

I do think it makes sense long-term to prepare a "fully-baked" per-app probeinfo endpoin

[2021-01-06 09:18] mhmohona commented on #258
@wlach, I am working on it. Hoping by tomorrow or the day after tomorrow I will be able to make RP. Sorry for the delay. :(

[2021-01-11 16:22] wlach commented on #224
I worked a little bit on this, and it's becoming clear that this is going to be kinda confusing given the number of applications that most of our metrics are currently duplicated across. It's also not 100% clear to me that this (rather complex) feature is actually required at this juncture. I'm going to put this in the backlog, we can always return to it later.

[2021-01-11 21:44] #293 closed

[2021-01-12 16:23] wlach opened #313 "Backlinks from BigQuery view -> Metric don't work"
In the BigQuery view, we currently have a backlink to the metric that generated it.

![image](https://user-images.githubusercontent.com/20569/104342050-6df69100-54c8-11eb-8385-f1c679cc967d.png)

But the link is often wrong. For example for:

https://glean-dictionary-dev.netlify.app/apps/firefox-android-release/tables/metrics?search=metrics.string_list.addons_enabled_addons

The link should be:

ht

[2021-01-13 15:21] wlach opened #314 "Add information on libraries to metrics and applications"
Some metrics (and pings) are defined in libraries. For example, Firefox for Android uses a bunch of things defined in [an android-components SDK](https://github.com/mozilla-mobile/android-components) which is reused across other applications:

https://github.com/mozilla/probe-scraper/blob/c8e4c1aa753fb7f950e25b42e74ba24f2e9c6a2a/repositories.yaml#L75

It would be interesting for glean dictionary t

[2021-01-13 21:11] Iinh commented on #258
Hi @mhmohona I was wondering if there's any progress with this. If you don't mind I can take this one up if you're busy :)

[2021-01-13 22:11] wlach commented on #23
Hi @Ankita13-code! How's it going? We were hoping to fix this issue in the next few days, if you're not available right now I might need to assign it to someone else. If you need any help with it, feel free to reach out.

[2021-01-14 02:45] Iinh opened #316 "Restyle AppAlert"
After switching to Protocol, `AppAlert` is not looking very good: https://glean-dictionary-dev.netlify.app/apps/glean-js.

[The original vision ](https://github.com/mozilla/glean-dictionary/issues/116#issuecomment-708988953) for the banner was more like below.

<img width="1391" alt="96096713-6bd46480-0ed0-11eb-9f81-9ee8fd799923" src="https://user-images.githubusercontent.com/28797553/104535908-e1

[2021-01-14 02:46] Iinh opened #317 "Specify the dependencies in `package.json`"
https://github.com/mozilla/glean-dictionary/pull/312#discussion_r555799026

We should reorganize `package.json` and specify what packages needed for production (`"dependencies"`) versus local development (`"devDependencies"`).

[2021-01-14 02:46] Iinh opened #318 ""Cardify" the application list"
Currently the applications are rendered as one long list in the main page: https://glean-dictionary-dev.netlify.app/

@wlach mentioned in [#glean-dictionary](https://chat.mozilla.org/#/room/#glean-dictionary:mozilla.org) that we should move to using [cards](https://protocol.mozilla.org/patterns/molecules/card.html) to render this data.

<img width="691" alt="Screen Shot 2021-01-13 at 6 30 01 PM" s

[2021-01-14 02:53] Iinh commented on #258
Assigning myself after talking with @mhmohona. Thank you Mahfuza for your help!

[2021-01-14 18:55] robhudson opened #320 "TypeError: can't access property "stable_ping_table_names""
e.g. https://glean-dictionary.protosaur.dev/apps/firefox-ios-beta/metrics/tabs-new_tab_pressed

[2021-01-14 18:56] robhudson opened #321 "Consider updating HTML title to better reflect the page visited"
If I have multiple glean dictionary URLs open in my browser they all appear the same. Consider some naming convention that reflects the page the user is on, whether it's a metric detail page or app detail, to help differentiate.

[2021-01-14 19:29] #279 closed

[2021-01-14 19:38] Iinh opened #322 "Fix footer to the bottom of the page"
Right now the footer is not sticky, it jumps up when the content length changes, and leaves a white gap at the bottom.

<img width="1263" alt="Screen Shot 2021-01-14 at 10 34 40 AM" src="https://user-images.githubusercontent.com/28797553/104639437-47695f00-565c-11eb-8383-cc3b6be5279f.png">

Example:
https://glean-dictionary.protosaur.dev/apps/fenix/metrics/about_page-libraries_tapped

[2021-01-14 19:49] Iinh commented on #320
I'm wondering if this might be because of the recent changes in `probe-scraper`... https://github.com/mozilla/probe-scraper/pull/262.

[2021-01-14 20:16] Iinh commented on #320
I was not able to reproduce this problem locally. Maybe @wlach has more insights into this?

[2021-01-14 20:22] wlach commented on #320
I think this is due to a mismatch between the data and the site, what's on protosaur right now is just a dev copy I created on my workstation. I'll do up a quick fix now (since I announced the URL on Slack) and hopefully address #60 tomorrow.

[2021-01-14 20:29] wlach commented on #321
This would be a good one to fix. Stackoverflow suggests https://stackoverflow.com/a/59028538 -- unless you have better ideas Rob?

[2021-01-14 20:42] robhudson commented on #321
Yep, I'm doing the same in GLAM...
https://github.com/mozilla/glam/blob/c140fa12c833210c2ba8d9aee95e3800296e81c0/src/routing/wrappers/Layout.svelte#L17-L20

[2021-01-14 21:45] wlach commented on #316
That sounds about right. I would probably refactor AppAlert into a more generic Alert class. It might make sense to use [the protocol notification bar component](https://protocol.mozilla.org/patterns/molecules/notification-bar.html) here (probably without the close button).

[2021-01-14 22:02] wlach commented on #320
Fixed now

[2021-01-14 22:02] #320 closed

[2021-01-15 07:42] Ankita13-code commented on #23
Hi @wlach! Actually my end semester examinations are going on these days and thus I won't be able to work on this issues for the rest of the january.Though I have made some progress in this and might complete it soon once I get back working. If this needs to be fixed urgently then you may assign it to someone else.

[2021-01-15 12:06] wlach commented on #61
Putting this in the backlog for now, we certainly need to do this but I'm not sure if it's super high priority given our current cadence of deploys to priority.

[2021-01-15 12:12] wlach commented on #23
Hi Ankita, thanks for the update. I'm going to defer this to the next milestone for now, but we may need to assign to someone else in the next little bit depending on feedback. Fortunately there is no end of other things to work on in this project. 😄

[2021-01-15 12:18] wlach commented on #322
@Iinh is this something you could pick up when you're between tasks? I'm not sure what the "state of the art" is for fixing this type of issue, but here's one stackoverflow entry with various answers (the pure CSS approach is what you want):

https://stackoverflow.com/a/21207313

[2021-01-15 12:19] wlach commented on #321
This is actually rather important for usability.

[2021-01-15 12:24] wlach commented on #191
@mhmohona Do you think you'll be able to work on this soon? It's ok if not, but we might want to assign it to someone else if that's the case.

[2021-01-15 12:29] wlach commented on #317
I think for a webapp like this the distinction between `devDependencies` and `dependencies` is not so important -- we're not publishing it to npm or anything. That said, it makes sense to be consistent. In this case, I think technically everything should just be a `devDependency`.

[2021-01-15 12:32] wlach commented on #102
My sense is that it's probably not glean-dictionary's job to validate this kind of bad data. That should be taken care of via tools like [glean-parser](https://github.com/mozilla/glean_parser/) -- if the data we ingest has a bad link in it, hopefully people will notice and we can fix it at the source. 😄

[2021-01-15 12:32] #102 closed

[2021-01-15 12:33] Fenn-CS commented on #313
Picking this up.

[2021-01-15 12:34] wlach commented on #240
Part of solving this would be figuring out how to make glean dictionary render historical data, which is something we haven't really scoped out yet.

[2021-01-15 12:44] wlach opened #323 "Help strings everywhere"
We have the capability of adding help hovers since #300, but are only using them sporadically. We should use them all over the UI to explain what the various fields mean (and provide links to documentation where possible). I'm going to work on this myself, since it requires a fair amount of domain knowledge. Will get the glean team to review.

[2021-01-15 12:45] wlach commented on #241
Reading over this, I think we'll be good as far as the asks in this issue when #323 is complete.

[2021-01-15 12:45] #241 closed

[2021-01-15 15:41] Iinh commented on #321
I'm going to work on this one

[2021-01-15 18:03] #258 closed

[2021-01-15 21:52] #154 closed

[2021-01-18 14:34] wlach commented on #191
I'm going to take this one, I think we actually need it done sooner than later as the UI around displaying issues (a key point) is a little confusing without this.

[2021-01-18 18:33] #191 closed

[2021-01-18 19:50] #316 closed

[2021-01-19 14:34] #321 closed

[2021-01-20 18:18] #318 closed

[2021-01-20 20:01] wlach commented on #313
@Fenn-CS do you think you'll have time to work on this in the next day or so? We were hoping to do a release soon, if not that's cool but we might assign this to someone else.

[2021-01-20 20:03] Fenn-CS commented on #313
@wlach should look at this tomorrow!

[2021-01-21 15:23] #322 closed

[2021-01-22 17:07] Iinh commented on #23
I'm going to work on this as I'm working on another related issue #65 and having this fixed would be really helpful.

[2021-01-22 20:43] #60 closed

[2021-01-22 21:25] wlach commented on #248
This just confused someone on #data-help in slack, we should probably fix this before we announce. Doing up a hacky fix inside glean-dictionary's etl-- the right solution is to do this type of correction inside probe-scraper.

[2021-01-23 12:40] Fenn-CS commented on #313
@wlach What are the rules around constructing these url's?  I can see that in :
https://github.com/mozilla/glean-dictionary/blob/8d16f8eb1a71a5efbda790598215980b700bb5cf/src/components/SchemaNode.svelte#L34

The problemactic part `addons_enabled_addons` instead of  `addons-enabled_addons` (first hyphen underscore should be hyphen), is gotten from :

https://github.com/mozilla/glean-dictionary/blob

[2021-01-23 13:38] wlach commented on #313
@Fenn-CS Great detective work. What an interesting issue! Basically we're dealing with the fact that we're not using `.` in BigQuery table columns, because that would be confusing and/or invalid, so we translate those into underscores instead. Haven't checked, but I suspect the code that does this in  [mozilla-schema-generator](https://github.com/mozilla/mozilla-schema-generator).

Inside glean-di

[2021-01-23 15:40] Fenn-CS commented on #313
@wlach Sorry if I am missing something, but changing all `.`s to `_` would create issues finding the file on the file system would it not?

Look at the actual files being fetch
[code]

Since underscores already exists in the metrics names, replacing everything with underscore means we would need a trial and error algorithm that tests for the position where the `.` is found to actual fetch metrics.

[2021-01-23 16:58] #248 closed

[2021-01-23 16:59] wlach commented on #313
Hey, that's correct. 😄 However we should be able to change the names of the files we write by modifying this:

https://github.com/mozilla/glean-dictionary/blob/6577fd2fd2a4bc04e871d6605dee76aee7ef166e/scripts/build-glean-metadata.py#L117

Sorry for not mentioning this before.

[2021-01-24 19:11] #313 closed

[2021-01-25 17:03] fbertsch opened #354 "Glean Dictionary incorrectly stating historical data"
[This probe](https://dictionary.protosaur.dev/apps/fenix/metrics/browser_search_with_ads) is an example problem. It indicates that it is sent in two pings: baseline and metrics. However the [probe-info-service](https://probeinfo.telemetry.mozilla.org/glean/fenix/metrics) tells a different story, that it was only sent on the baseline ping in the spring of 2020, which means that now almost _no_ base

[2021-01-26 14:49] Iinh opened #356 "Support library metric search"
Currently only metrics defined in-app are searchable via Searchfox. Library metrics, such as Glean’s, are not searchable yet because Glean Dictionary does not have app dependency information. We should be able to search library metrics when the needed requirements become available in `probe-scraper` `/v2/` metrics API.

For more context: https://github.com/mozilla/glean-dictionary/pull/339#issueco

[2021-01-26 15:19] #65 closed

[2021-01-26 21:36] #23 closed

[2021-01-27 14:19] wlach commented on #354
@fbertsch On reflection, maybe a quick workaround is for the glean dictionary to just show what pings are sent in the current version? Longer term, we can figure out an interface for browsing/viewing metric history if there's sufficient need / demand.

[2021-01-28 21:59] wlach opened #360 "Searchfox strings are too specific"
e.g. on this page:

https://dictionary.protosaur.dev/apps/fenix/metrics/startup_timeline_framework_start

The searchfox URL is this:

https://searchfox.org/mozilla-mobile/search?q=startupTimeline.frameworkStart|StartupTimeline.frameworkStart|startup_timeline.framework_start|startup_timeline::framework_start&path=fenix&regexp=true

This returns no results. However, a simpler query returns a bunch:

[2021-01-28 22:54] mdboom commented on #360
Yeah -- this is a tricky area.  The issue is that the implementer of the telemetry did this:

[code]

I'd recommend against that, but we can't stop people from doing it.  Supporting that would require some sort of deeper understanding of the code.

The reason I'm hesitant about just searching only on the name (rather than `category.name`) we'll just have too many false positives, particular if the

[2021-01-29 14:30] wlach commented on #360
It looks like searchfox will return JSON if you set the right headers, e.g.:

`curl "https://searchfox.org/mozilla-mobile/search?q=startupTimeline.frameworkStart|StartupTimeline.frameworkStart|startup_timeline.framework_start|startup_timeline::framework_start&path=fenix&regexp=true" -H "Accept: application/json"`

It is possible we could do a quick check to see if there are results for the more co

[2021-01-29 14:48] mdboom commented on #360
That's an interesting solution.  If this becomes a frequent problem in the future, that's perhaps worth tackling.

It looks like there's only one instance of this in fenix and one in android-components.  (Which equates to more than one metric, as it affects an entire source file).  But still, rare enough I'd say just document the shortcoming and move on for now.

[2021-02-02 16:25] #354 closed

[2021-02-02 17:00] wlach commented on #360
Another datapoint -- Searchfox also fails for many iOS metrics: https://dictionary.protosaur.dev/apps/firefox-ios-dev/metrics/app_opened_as_default_browser

It may be worthwhile doing an investigation on exactly how many searchfox URLs resolve to meaningful results (e.g. by using BeautifulSoup + curl).

[2021-02-02 17:05] #323 closed

[2021-02-02 17:08] mdboom commented on #360
This is an interesting one -- there is a hit for this in the [github repo](https://github.com/mozilla-mobile/firefox-ios/blob/main/Client/Telemetry/TelemetryWrapper.swift#L484), but searchfox seems to [have a different revision of the file](https://searchfox.org/mozilla-mobile/source/firefox-ios/Client/Telemetry/TelemetryWrapper.swift).  Definitely worth investigation, but it might not be an issue

[2021-02-02 17:47] wlach commented on #360
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1690341

[2021-02-02 22:17] acmiyaguchi opened #373 "Metrics table for org_mozilla_firefox (fenix) is broken due to CORS"
Going to https://dictionary.protosaur.dev/apps/fenix/tables/metrics leads to this error:

![image](https://user-images.githubusercontent.com/3304040/106669919-3fb52000-6561-11eb-906b-c466bc227758.png)

[2021-02-03 16:26] wlach commented on #373
Hmm, seems to work for me?

![image](https://user-images.githubusercontent.com/20569/106776998-93cc0d00-6612-11eb-8cb2-270698000950.png)

Feel free to reopen if there's something I'm missing.

[2021-02-03 17:35] acmiyaguchi commented on #373
This is still broken for me, I'm getting a CORS issue specifically after looking in the console:

[code]

[2021-02-03 18:22] Iinh commented on #373
I'm also getting a CORS error, not with just `fenix`, but any `metrics` BQ table. For example:

https://dictionary.protosaur.dev/apps/firefox-ios-beta/tables/metrics
https://dictionary.protosaur.dev/apps/firefox-android-release/tables/metrics
https://dictionary.protosaur.dev/apps/firefox-focus-ios/tables/metrics
https://dictionary.protosaur.dev/apps/firefox-android-beta/tables/metrics

<img width=

[2021-02-03 18:31] wlach commented on #373
Likely github changed their CORS policy. I'll investigate.

[2021-02-03 18:32] acmiyaguchi commented on #373
This doesn't affect netlify, but it does protosaur. It's kind of strange that this is the case.

[2021-02-03 19:16] wlach commented on #373
I can't reproduce on either, even with a fresh cache. Can you show me what the headers look like in the network panel when it fails?

[2021-02-03 19:23] Iinh commented on #373
@acmiyaguchi I think the ad blocker might be the villain here... I'm using [uBlock Origin](https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/), I can load metrics table now if I turn my ad blocker off.

[2021-02-03 20:03] acmiyaguchi commented on #373
I can confirm that I can load metrics after turning off my ad blocker.

[2021-02-03 20:49] Iinh commented on #373
Should we add some kind of warning/error message to the metrics table page to let the users know they need to turn off their ad blocker if they encounter CORS issue?

[2021-02-03 20:59] wlach commented on #373
I think we should probably download the JSON file from github at build-time, then serve it locally. This is probably a bug in uBlock, but at the same time we probably shouldn't rely on GitHub serving the right CORS headers. I can look into fixing this in the next day or so.

[2021-02-03 22:57] acmiyaguchi commented on #61
This should be higher up now that #374 is going to be a thing. The easiest solution would probably be to add a nightly job via [CircleCI workflows](https://circleci.com/docs/2.0/workflows/#scheduling-a-workflow) that runs around 3-4 AM UTC (to account for probe scraper and mps generation).

[2021-02-03 23:42] #373 closed

[2021-02-09 15:08] wlach commented on #211
This got fixed as part of #357 (forgot about this at the time, sorry)

[2021-02-09 15:08] #211 closed

[2021-02-18 14:42] wlach opened #404 "Use sourcegraph to search for code in repos not indexed by searchfox"
In #339 @Iinh added support for searching for glean metric definitions using searchfox. However, not everything we care about is currently indexed by searchfox.

Seperately, @Iinh found a great service called sourcegraph which indexes at least some of these repositories. For example, mozregression:

https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/mozilla/mozregression%24+&patternType=litera

[2021-03-01 22:26] #223 closed

[2021-03-08 16:54] wlach opened #452 "media.audio.init_failure, media.audio_init_failure incorrectly being grouped together"
Glean Dictionary has some clever code to replace `.`'s with `_`'s, to get around some issues with static web servers which thinks resources with `.`'s in them refer to a file with an extension. This seems to fall down with the above two metrics, which resolve to the same identifier when you do that.

We should probably use url encoding with metrics instead of this cleverness, this would have the s

[2021-03-08 18:40] wlach opened #453 "Consider using sapper"
In #426 we ran into some weird mistmatches between what we're loading via the json API and the internal ids in the application. I believe switching to sapper and making sure these resources get exported would catch these sorts of issues at build-time as well as provide a few other benefits (indexability by search engines, faster perceived load times) that we don't have with the current setup.

See

[2021-03-09 15:28] wlach commented on #210
Hey @Riju19, assuming you don't have time to work on this (no worries!) Note that we won't have any deprecated application groupings in the main view after #426 merges, so this is much lower priority.

[2021-03-09 16:33] wlach opened #456 "Better ordering of applications on main (application) page"
Currently we display the applications in sort-order, which is not ideal. Ideally we would have some heuristic based on an application's relative popularity (e.g. number of ping submissions in the last week), though a manually curated ordering might do in a pinch.

[2021-03-14 06:22] jcads commented on #404
Hi, I would like to work in this issue.

My approach would be to add a sourcegraph Map with repos that are not in the [searchfoxMap](https://github.com/mozilla/glean-dictionary/blob/65292aee2ab7a68dbc2a06483ae5ba1c46c0e4d0/src/formatters/searchfox.js#L3).

Then add an `else` statement in [line 63](https://github.com/mozilla/glean-dictionary/blob/65292aee2ab7a68dbc2a06483ae5ba1c46c0e4d0/src/formatt

[2021-03-14 09:35] jcads opened #458 "Searchfox links for metrics not displaying for multi-worded application names"
## The Bug
I came across this bug while working on #404.

Currently, the links doesn't work because the separator used in `searchfoxMap` in [searchfox.js](https://github.com/mozilla/glean-dictionary/blob/65292aee2ab7a68dbc2a06483ae5ba1c46c0e4d0/src/formatters/searchfox.js) is `-`, like so -- `"reference-browser": "reference-browser"`.

The link doesn't work because the [`params.app`](https://githu

[2021-03-14 09:38] jcads commented on #458
This is an easy fix. Should make a PR?

[2021-03-14 12:01] wlach commented on #458
@jcads please go ahead! Just a note, I may not be able to review it for a couple days.

[2021-03-14 12:02] wlach commented on #404
@jcads that would be great! I haven't looked at the code in question in a while, but in outline what you say makes sense to me.

[2021-03-15 13:49] jcads commented on #404
I'll make a PR on this once #459 gets merged.

[2021-03-16 03:32] jcads commented on #404
@wlach, should we change `Searchfox` to a more general title like `Uses`? Or just change the title dynamically? Either `Sourcegraph` or `Searchfox`, based on where the metric was indexed.

![image](https://user-images.githubusercontent.com/50954098/111251693-b3f7de80-864a-11eb-9bc0-0b5a017da580.png)

What do you think?

[2021-03-16 19:00] #458 closed

[2021-03-17 05:51] jcads commented on #404
I just left this as is in the PR #468.

[2021-03-17 16:08] wlach commented on #453
Might be better to consider sveltekit, which looks to be the successor to sapper with some nifty features: https://svelte.dev/blog/whats-the-deal-with-sveltekit https://github.com/sveltejs/kit

[2021-03-17 17:50] acmiyaguchi commented on #453
I don't think sveltekit is ready for use yet, but the API should be similar enough to sapper that the transition should be smooth from what I hear. The largest change is probably routing and the use of `index.svelte` files.

One thing to consider with server-side rendering is creating api endpoints that consume directly from the probe info service, instead of using the intermediary ETL. If it's de

[2021-03-17 21:26] wlach opened #469 "Provide more help on how to access BigQuery resources"
This type of query doesn't work:

[code]

It seems like BigQuery gets confused when the name of a column is the same as the name of the table. For all metrics and events tables, we should prefix the column name in our BigQuery suggestion with the table name. I.e. we should suggest that people use `metrics.metrics.count.metrics_top_sites_count`.

See this slack thread for more context: https://mozi

[2021-03-17 22:01] wlach commented on #469
On second think, not actually sure we should do that. Maybe we should just link to the bigquery tutorial (in the PR above) from the BigQuery help icon.

[2021-03-18 15:35] #404 closed

[2021-03-19 04:28] jcads opened #470 ""Code Search" in metric definitions should be "unavailable" for unindexed applications"
In reference to https://github.com/mozilla/glean-dictionary/pull/468#issuecomment-802343340.

_before_
![image](https://user-images.githubusercontent.com/50954098/111730316-1c91c600-88ac-11eb-8a05-30183b89d59f.png)

_after_
![image](https://user-images.githubusercontent.com/50954098/111732472-84e2a680-88b0-11eb-96be-9c1125953a7b.png)

[2021-03-19 21:39] #470 closed

[2021-03-19 21:40] wlach opened #472 "Investigate storybook for svelte"
There's a new release of storybook for svelte which seems to have some nice features: https://storybook.js.org/blog/storybook-for-svelte/

Worth investigating what it would take to upgrade to it, as I think it would make the experience of writing stories for our components easier.

[2021-03-19 21:44] wlach commented on #453
This is an interesting idea, definitely something to consider if we evolve probe-scraper so that it does some of the things our custom ETL currently does like fold library metrics into applications (which, as you know, duplicates logic in mozilla-schema-generator).

[2021-03-23 20:39] wlach opened #476 "Markdown with angle brackets in it doesn't get translated to html correctly"
See: https://dictionary.protosaur.dev/apps/fenix/metrics/browser_search_with_ads

![image](https://user-images.githubusercontent.com/20569/112214805-03fc1580-8bf6-11eb-94bc-94add617608d.png)

Underlying JSON: https://dictionary.protosaur.dev/data/fenix/metrics/browser_search_with_ads.json

My guess is that the problem is somewhere in our usage of the markdown library here: https://github.com/mozil

[2021-03-24 00:51] jcads commented on #476
Hey @wlach, thanks for the ping.

Kindly assign this one to me. I'll definitely get back to you about writing the test cases.

[2021-03-25 16:29] Iinh commented on #453
I'm interested in taking on this issue. [SvelteKit is currently in public beta](https://svelte.dev/blog/sveltekit-beta), but I think it's probably better to use Sapper for now since there are more resources available for it.

[2021-03-25 18:41] wlach commented on #453
Awesome! Feel free to assign the issue to yourself.

I would definitely take a PR for either, but I suspect SvelteKit will progress rapidly and it brings a lot of neat things to the table (e.g. fast reloading). An early SvelteKit implementation might also generate some external interest in our little project, since I don't think there are too many things using it yet.  That said, I haven't genuine

[2021-03-25 19:31] Iinh commented on #453
This makes a lot of sense, I'll get started with SveteKit then. My main concern is that since SveteKit is so new (the beta just released 2 days ago), it would be unstable. But it should be very exciting to try it out.

[2021-03-26 04:19] Iinh opened #482 "“Did Not Connect: Potential Security Issue” error when loading the site"
The error:

<img width="710" alt="Screen Shot 2021-03-25 at 9 06 18 PM" src="https://user-images.githubusercontent.com/28797553/112576135-ef16b200-8dae-11eb-81e5-fd15cf9b5d78.png">

[2021-03-26 14:31] wlach commented on #482
Thanks @Iinh -- this is an operations issue. I filed a bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1701246

[2021-03-26 20:04] #239 closed

[2021-03-26 23:14] Iinh commented on #482
Looks like this issue has been solved.

[2021-03-26 23:14] #482 closed

[2021-03-29 12:36] wlach commented on #224
Now that we've consolidated metrics across applications, this feature is a bit more tractable.

Note to self: we could also consider using something like Algolia here: https://www.algolia.com/ -- I think rolling our own is *probably* the right call, but we should see how it goes.

[2021-03-30 14:43] wlach opened #495 "Add last deploy date to footer"
In #297 we added git information to the footer in the glean dictionary. It would also be nice to provide the last updated date, to give people a hint on how up to date the glean dictionary is with the information that we're getting from https://probeinfo.telemetry.mozilla.org and https://mozilla.github.io/glean-annotations/ (#494 will add nightly deploys)

Rough steps to solving this:

1. Generate

[2021-03-30 18:22] #61 closed

[2021-03-31 20:58] wlach opened #496 "Add dataset (and maybe UDF?) metadata from bigquery-etl"
The Glean Dictionary seems like a better long-term place for dataset documentation than bigquery-etl, since we can more easily cross-link the information with the lower-level table and metric data which produces it.

This issue will cover the initial MVP implementation of this.

Rough steps:

- [ ] Add support for outputting dataset and udf metadata to JSON endpoints in bigquery-etl, in addition t

[2021-04-01 13:49] jklukas commented on #496
Are you imagining including these as part of the rendered docs we publish to GitHub Pages? I'm open to this, but had imagined instead some scheduled build of Glean Dictionary that would pull down a tar archive of the `generated-sql` branch and do whatever data prep is necessary for Glean Dictionary.

We should consider availability and whether it matters. For the probeinfo service, we push the dat

[2021-04-01 17:38] wlach commented on #496
That works too and might make slightly more sense. I think for the purposing of prototyping, providing an "API" as part of the rendered documentation will work slightly better (since we can take advantage of the deploy preview feature to test things out) but we can keep this in our back pocket as an option.

Yeah, I'm not too worried about availability. If GitHub is down, a slightly out of date gl

[2021-04-03 16:23] #476 closed

[2021-04-12 20:17] fbertsch opened #525 "Use `library_name` for dependencies"
We currently display the `dependency_name`, which is essentially just used for an internal mapping. We should instead display the `library_name`, and maybe the `description`.

See https://github.com/mozilla/probe-scraper/pull/302#discussion_r611769504

[2021-04-12 21:15] wlach commented on #525
This might best be done in conjunction with displaying the library information more explicitly. Will think on this.

[2021-04-12 21:20] wlach commented on #496
#526 maps the namespace of the dataset name to application ids, which lets me generate a respectable set of autogenerated tables we create for each glean application. This does not include other datasets, however (e.g. the mobile search datasets are not included because they live in their own dataset).

I feel like maybe the best way forward is come kind of metadata standard inside bigquery-etl th

[2021-04-12 22:33] scholtzan commented on #496
I could imagine something like:

[code]

to live in `metadata.yaml`. I guess it is possible that one table can be related to multiple Glean applications (like mobile_search_clients_daily).

[2021-04-13 13:17] jklukas commented on #496
In bigquery-etl, we already have `labels.application` which seems closely related to this need. We could have an expectation that this label is set to a relevant Glean `app_name`. The format for BQ labels is somewhat restricted, so would not accommodate `app_id` values, but should accommodate `app_name` and `channel` values.

Even better, we could replace `labels.application` with `labels.app_name

[2021-04-13 13:57] wlach commented on #496
Great ideas @scholtzan @jklukas . A few notes:

* Channel can always be derived from the `app_id` value, so I don't think we should specify it in bigquery-etl - we can just refer people to https://dictionary.protosaur.dev/apps/fenix?itemType=app_ids if a reference is needed (presumably someone working on bigquery-etl is comfortable with these concepts).
* Unfortunately `app_name` and `channel` is

[2021-04-13 14:17] fbertsch commented on #496
We do now require unique non-deprecated channel/app combos: https://github.com/mozilla/probe-scraper/pull/282

[2021-04-13 15:53] scholtzan commented on #496
One shortcoming of using labels would be that only exactly one application can be specified. Keys in yaml must be unique ([_The content of a mapping node is an unordered set of key: value node pairs, with the restriction that each of the keys is unique_](https://yaml.org/spec/1.2/spec.html#id2764044))

[2021-04-15 15:40] wlach opened #528 "Persist pagination state in URL"
Just as we persist search strings and expired states (see #512), we should also persist the page that the user has navigated to (if any):

https://dictionary.protosaur.dev/apps/fenix?itemType=metrics&showExpired=1&page=3

This is a bit of a tricky one (it requires understanding the Glean Dictionary's URL persistence model, which is based on [svelte stores](https://svelte.dev/tutorial/writable-stor

[2021-04-22 18:57] wlach opened #537 "Update deploy / CI logic for production"
Shortly we'll be [deploying a production version of the glean dictionary](https://bugzilla.mozilla.org/show_bug.cgi?id=1704527) at dictionary.telemetry.mozilla.org. A couple of follow-on tasks to do inside the glean dictionary for that to be smooth:

* [x] Configure site logic via netlify.toml rather than using the netlify deploy panel (easier to audit)
* [x] Stop deploying dev site to dictionary.

[2021-04-26 14:07] chutten opened #547 "`app_channel` annotation not showing in Glean Dictionary"
I was showing off the Glean Dictionary's new annotation features, but noticed that the annotation I added for `app_channel` [wasn't showing](https://dictionary.protosaur.dev/apps/firefox_desktop/metrics/app_channel).

Other annotations (like the ["fog-validation" ping](https://dictionary.protosaur.dev/apps/firefox_desktop/pings/fog-validation) and [Firefox iOS' `app.opened_as_default_browser`](htt

[2021-04-26 14:15] wlach commented on #547
This is actually an issue with the Glean Dictionary. Happily fairly easy to fix.

[2021-04-26 15:55] wlach commented on #537
Let's also do a redirect for https://glean-dictionary.netlify.app/ (legacy site from last summer which was never updated)

[2021-04-26 15:56] Iinh opened #550 "Ad blocker blocks metric names that start with `metrics`"
Metric names that start with `metrics`, such as:

[metrics.activity_state_provider_error](https://dictionary.protosaur.dev/apps/fenix/metrics/metrics_activity_state_provider_error)

[metrics.adjust_network](https://dictionary.protosaur.dev/apps/fenix/metrics/metrics_adjust_network)

[metrics.distribution_id](https://dictionary.protosaur.dev/apps/fenix/metrics/metrics_distribution_id)

are currentl

[2021-04-26 16:01] #547 closed

[2021-04-26 16:13] wlach commented on #550
Yeah, I knew it was blocking google analytics but didn't know about this. Wow. Looks like it's blocking loading the JSON resource:

![image](https://user-images.githubusercontent.com/20569/116114964-e0f6d280-a687-11eb-85ca-dc50919bb502.png)

IMO this is a bug in uBlock origin.

We can probably work around it by giving these files some other name. Prepending something like `data_` to the JSON files

[2021-04-26 16:54] Iinh commented on #550
Yes let me give it a try!

[2021-04-26 20:53] #550 closed

[2021-04-27 17:43] wlach commented on #537
This is done now.

[2021-04-27 21:42] rafrombrc opened #557 "Add "Older Firefox desktop telemetry" (or similar) link to the original probe dictionary"
Some folks might land on the Glean dictionary when they're looking for information on an old school telemetry style probe... it'd probably be a good idea to put a link to the older probe dictionary in one or more strategic locations. Possibly the front page, almost certainly on the search results page, especially when the search results are empty. "Can't find what you're looking for? Non-Glean pro

[2021-04-27 21:47] rafrombrc commented on #557
Looking at the home page, the description text under the "Firefox for Desktop" application is probably a good place for this link... we could explain that the app you're looking at will only cover Glean probes and include a link.

[2021-04-28 13:33] wlach commented on #557
Yeah, I think the warning should probably appear on this page:

https://dictionary.telemetry.mozilla.org/apps/firefox_desktop?itemType=metrics

I think we can implement this as a special kind of structured annotation ("warning") which we might be able to apply to other applications in the future.

[2021-04-29 12:03] #537 closed

[2021-04-29 20:09] #557 closed

[2021-04-29 21:09] wlach opened #561 "Expired metrics can be too difficult to find"
When we were annotating things today, @irrationalagent initially had trouble finding this metric:

https://dictionary.telemetry.mozilla.org/apps/fenix/metrics/places_manager_write_query_time

This metric recently expired (about 60 days ago) so it wasn't displaying. Our default is not to show expired metrics but this might be the wrong approach-- they are already relatively clearly marked in the UI

[2021-05-03 18:55] #561 closed

[2021-05-07 18:25] wlach opened #572 "Show libraries as a seperate top-level object"
It might be desirable to show libraries (and the metrics within them) as a seperate top-level object (alongside applications) within the Glean Dictionary. This would obviate the need for markdown-generated documentation for android-components (https://github.com/mozilla-mobile/fenix/pull/19411#issuecomment-834639048). Need to think on this a bit, but filing an issue so we have a reference in case

[2021-05-12 21:03] tdsmith opened #585 "Dictionary should show documentation of event extra_keys"
The description at https://dictionary.telemetry.mozilla.org/apps/fenix/metrics/events_browser_menu_action isn't as helpful as it could be because the extra_values described in the definition at https://github.com/mozilla-mobile/fenix/blob/7cdf7a54df15d96b6f68b73be8140abb2223109d/app/metrics.yaml#L193 hold most of the event's content.

The link to the definition is really great here, though!

[2021-05-13 13:32] wlach commented on #585
Yep, we should add this. @Iinh do you want to take a look at this one? The [glean documentation](https://mozilla.github.io/glean/book/reference/metrics/event.html) on events might be a helpful resource to use when thinking about how to display this information.

[2021-05-13 20:02] chutten opened #587 "When landing on Glean Dictionary it's not clear what it is"
The Glean Dictionary index doesn't describe what it's about, throwing you directly at the app tiles.

This is great for folks who already know what it is, but anyone being told to consult it for the first time might be a bit lost.

I think (and I'm often wrong) the Glean Dictionary would benefit from some front matter. Maybe

[2021-05-13 20:16] wlach commented on #587
This seems like a good idea -- a little onboarding can go a long way. Let me implement something real quick.

[2021-05-13 21:36] #587 closed

[2021-05-15 18:30] yatharthMogra commented on #495
hey @wlach I would like to work on this issue

[2021-05-15 19:02] wlach commented on #495
Please go ahead! Let us know if you need any help.

On Sat., May 15, 2021, 14:30 yatharthMogra, ***@***.***>
wrote:

[2021-05-17 17:21] harnaman-hk commented on #528
Hi @wlach! I would like to work on this issue

[2021-05-17 17:37] wlach commented on #528
Awesome! Please go ahead and let us know if you run into issues on the Glean Dictionary channel.

[2021-05-17 19:08] #585 closed

[2021-05-18 18:48] wlach opened #602 "Improve display of labels"
We're still using a pretty primitive svelte component we've called "Pill" for rendering labels in the app:

![image](https://user-images.githubusercontent.com/20569/118706808-cf689c80-b7e7-11eb-9d14-c8863ffa3548.png)

https://github.com/mozilla/glean-dictionary/blob/9f27d440ceb6977997dd6fc87a7e0dd067a5b33e/src/components/Pill.svelte

It would be nice to improve the look of them to be more consiste

[2021-05-18 21:27] wlach opened #604 "Link to Looker explores from metrics"
We should be able to link to a prepopulated looker explore for particular metrics (using the ping-based explores). For example to get an explore for app_build on the beta channel for Fenix, this URL should do the trick:

https://mozilla.cloud.looker.com/explore/fenix/metrics?fields=metrics.client_info__app_build&f[metrics.channel]=mozdata.org%5E_mozilla%5E_firefox%5E_beta.metrics

[2021-05-18 21:29] wlach opened #605 "Show a list of Looker explores for each application"
It would be useful to show a list of looker explores for each application. We'll get a partial list from namespaces (#603) but we may need to process other data sources to get a full list.

[2021-05-27 15:03] Iinh commented on #472
I'm currently working on using Storybook for Svelte with SvelteKit.

[2021-05-27 15:05] Iinh commented on #602
I'll take this up. I added some UI improvements in the SvelteKit migration that I'm working on, it would make sense to tackle this too.

[2021-05-27 15:08] Iinh commented on #456
Let's try manual curation as a first pass. I'm not familiar with Mozilla products enough to know which ones are the most popular (I guess fenix and firefox ios are probably top 2, and desktop once fog migration is done?) How should I order them?

[2021-05-27 15:38] wlach commented on #456
Yup:

![image](https://user-images.githubusercontent.com/20569/119855433-e5f5ae80-bedf-11eb-9dd5-07d7acd29d6e.png)

I would probably just do:

1. Firefox Desktop
2. Firefox Android
3. Firefox iOS

Then everything else

[2021-05-28 19:48] #602 closed

[2021-05-28 22:12] wlach opened #627 "Need to deduplicate metrics"
Sometimes libraries have overlapping metrics if you look into the past. For example, `app_build` is present in `glean-core` and *was* present in `glean-android`). This can result in some confusing behaviour in the metric page because we wind up counting the metric twice for each variant:

![image](https://user-images.githubusercontent.com/20569/120046367-fc832f00-bfdf-11eb-8da8-7a7d54606e85.png)

[2021-05-28 22:12] wlach commented on #627
@Iinh any interest in taking this on? I think it'd be a good task from the p.o.v. of understanding our metadata pipeline more deeply.

[2021-05-28 22:23] Iinh commented on #627
Yes I can work on this! Thanks for filing this issue @wlach

[2021-05-31 13:23] #604 closed

[2021-06-02 13:28] wlach opened #640 "Explain what the commentary is a little better"
The commentary section isn't really well documented, which prompted at least one question internally on "what is this thing":

![image](https://user-images.githubusercontent.com/20569/120488452-c8fc2800-c384-11eb-9bba-ceee30fd66a0.png)

We should make it more clear what it is. Maybe add some help bubbles and expand on the text inside it to make it clear.

[2021-06-02 14:25] fbertsch opened #641 "Add ability to search by metric type or description"
It's not clear to me how the UX should behave here; e.g. should searching by default be across types and descriptions, or should it be more like a [logs explorer](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-06-02T13:48:19.209941Z?project=moz-fx-data-ingesti-prod-579d) which requires you to select which field you're searching on.

The use case here is to e.g. see which events a

[2021-06-02 14:47] wlach commented on #641
Yup, making search work across types and descriptions would be relatively easy although not extremely discoverable.

I definitely don't think we want something as complex as the logs explorer example you gave here, but we should probably iterate towards something a little more sophisticated than just a text field that people can type things into. I'll give this a bit more thought in the coming wee

[2021-06-02 17:36] mcomella opened #642 "Probe description does not support <br> HTML or list item markdown"
The old metrics.md supported html tags like `<br>` and list items (lines starting with `-`) ([example](https://github.com/mozilla-mobile/fenix/blob/releases_v89.0.0/docs/metrics.md):
![image](https://user-images.githubusercontent.com/759372/120526524-221c8980-c38e-11eb-8a0c-9252def0481e.png)

However, the probe dictionary doesn't support it ([example](https://dictionary.telemetry.mozilla.org/apps/

[2021-06-02 17:49] mcomella commented on #640
(repost from Slack) I feel like the Commentary section should be just below the description – if I was analyzing a probe, I might read the description, see the metadata table, "Ah, I don't need to see any of that for this probe!", and never bother scrolling down to the "Commentary". If the commentary was closer to the top though, I'd be more likely to see and read it.

[2021-06-02 18:20] wlach commented on #642
Yeah, we intentionally escape some of the markdown in the description. The problem was that people were unintentionally adding HTML tags (without quoting) in the metrics files, which caused weird issues on occasion (see e.g. mozilla-mobile/fenix#19243). On reflection, the right answer is probably just to fix these issues in the source, rather than remove flexibility on what people can do to avoid

[2021-06-02 21:45] #528 closed

[2021-06-02 23:55] mcomella commented on #642
Ah, this wasn't the case in the metrics.md file so I used HTML tags to work around it. 😆  It sounds better to just use markdown though – I'll do this going forward.

[2021-06-03 14:22] fbertsch opened #645 "`Applicant Variant` Fixups"
I have two proposals here:
1. Hide all deprecate channels. I don't see any good reason to include them for e.g. Fenix
2. Order with release first, and default to selecting release. Most people's questions will _probably_ be on release data

[2021-06-03 14:23] fbertsch commented on #645
Also: Looker uses release as the [default selection](https://github.com/mozilla/lookml-generator/blob/main/generator/views/ping_view.py#L88).

[2021-06-03 18:47] wlach commented on #645
I think we should probably keep them for comprehensiveness, but I can exclude the links to Looker and GLAM and make it more clear they're deprecated.

👍

[2021-06-03 21:28] #645 closed

[2021-06-04 01:34] #627 closed

[2021-06-04 09:44] badboy opened #647 "Show event extra's types"
Meta bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1695164

Events can now have an explicit type for extra values, see https://mozilla.github.io/glean/book/reference/metrics/event.html#extra_keys
(This is for the code only, the data will be stringified as it is today)
The dictionary can probably expose this information.

[2021-06-04 20:16] wlach commented on #647
@badboy Do you have any examples of this being used yet? It will be easier to validate our visualization of the data if we have that

[2021-06-04 21:08] wlach commented on #640
Working on this.

[2021-06-07 07:37] badboy commented on #647
I migrated only one user (and it didn't land yet): https://github.com/mozilla-mobile/android-components/pull/10421/files#diff-f931f692b73dced5e27d9350c4ce967de7eaddb3ddceec603c3812d5605421fdR921-R927

[2021-06-07 14:56] wlach commented on #640
I tried this and it looks a little weird to me. I have some help-related improvements inbound but I think the fundamental solution is probably to hide / de-emphasize less useful metadata a little bit, which will require a bit more thought. May wind up filing a new issue for that.

[2021-06-07 20:00] SuYoungHong opened #659 "Can be hard to tell offhand what product a metric or ping pertains to"
Had one piece of feedback - it’s really hard, in general, to keep track of what probes exist for iOS vs Fenix glean… and using the glean dictionary for each, i had to keep looking up to the top banner to keep track of which product i was in, for a page (apps/fenix/etc.)
this was really time, and attention intensive.

it would be really great to encode which product we’re in (for like a probe, or s

[2021-06-07 20:34] wlach commented on #659
Thanks for reporting @SuYoungHong! Color coding is a bit of a can of worms in terms of UX design, but it's something we could consider. Some simpler mitigations might be:

1. Keep the header sticky so at least it's always in view:

![image](https://user-images.githubusercontent.com/20569/121083649-b2ebce80-c7ad-11eb-916f-ba398caa99d4.png)

2. Put an Android/Apple/whatever icon beside the app name

[2021-06-08 13:18] wlach commented on #659
@Iinh I am curious if you have any ideas on the above ^^ (beyond what I suggested)

[2021-06-08 14:40] Dexterp37 opened #661 "Honour the `skip_documentation` settings"
As discussed in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1715216), products like Glean Dictionary need to honour the [`skip_documentation`](https://mozilla.github.io/probe-scraper/#tag/application) setting for products that want to opt-out of it.

[2021-06-08 16:56] Iinh commented on #659
I agree that color coding can get tricky as it could become visually noisy (we already have a lot of color actions going on). Since it's already sticky, we could color code the bread crumb bar but I think placing the platform logo at the end (2) can achieve the same effect, and might actually look better. I'll start working on (2) and see how it looks first.

[2021-06-09 15:28] #661 closed

[2021-06-09 15:34] fbertsch opened #665 "Add Looker links to labeled counters"
Here's an example: https://mozilla.cloud.looker.com/explore/fenix/metrics?qid=JCk0CSlIM3WEWB0wMuGMCR&toggle=vis

[2021-06-09 15:35] fbertsch commented on #665
cc @acmiyaguchi

[2021-06-09 16:14] wlach commented on #647
@Iinh any interest in tackling this one when you have an extra cycle or two? The required information should be slurped up by our ingestion script, all that needs to be done is updating the metric view to add the new keys.

[2021-06-09 17:32] Iinh commented on #647
Sounds like a straightforward task. I'm on it.

[2021-06-10 11:42] #659 closed

[2021-06-14 21:08] #665 closed

[2021-06-14 21:12] wlach opened #679 "Refactor looker URL generation into its own module"
The looker URL generation is getting a bit difficult to reason about:

https://github.com/mozilla/glean-dictionary/blob/24ab3601ad647fef80223aeccba72575222e6a4d/scripts/build-glean-metadata.py#L276

We should probably put it in its own file, similar to what we do already for the Glean scraping (https://github.com/mozilla/glean-dictionary/blob/24ab3601ad647fef80223aeccba72575222e6a4d/scripts/glean.

[2021-06-14 21:15] wlach opened #680 "Consider a better internal structure than just dumping stuff in scripts/"
We might be getting to the point where we want a proper python project for the ETL code, with unit tests and a sensible directory structure. [lookml-generator](https://github.com/mozilla/lookml-generator/) might be a good model to use here.

This is something a contributor could potentially take on, if they're interested. Main skills required would be python.

[2021-06-17 21:31] Iinh opened #682 "We should stop using Protocol as our main styling library"
See [@wlach's comments](https://github.com/mozilla/glean-dictionary/pull/556#issuecomment-863300778):

[2021-06-21 18:15] fbertsch opened #693 "Glean dictionary should store page state in URL"
Sometimes I'm investigating a metric and would like to share the URL to the glean dictionary page. For example, working with the sync team, they wanted to look at [this metric](https://dictionary.telemetry.mozilla.org/apps/fenix/metrics/creditcards_sync_failure_reason).

The problem is that I wanted to link them to the pre-release "version" of that metric (for nightly), but I can't. I can only lin

[2021-06-21 18:19] wlach commented on #693
@Iinh can you take this one?

[2021-06-22 02:38] ecsmyth opened #695 "Fails to load page for ios `app_opened_as_default_browser` metric"
# STR
Navigate to the [app_opened_as_default_browser metric page](https://dictionary.telemetry.mozilla.org/apps/firefox_ios/metrics/app_opened_as_default_browser)

or

Navigate to the [Firefox for iOS page](https://dictionary.telemetry.mozilla.org/apps/firefox_ios/?itemType=metrics&page=1&showExpired=1) and click on the link to app_opened_as_default_browser.

# Expected
Metric page loads and displ

[2021-06-22 03:15] wlach commented on #695
That's embarassing. I'll do up a hotfix, will think about how to prevent this from happening again

[2021-06-22 03:16] #695 closed

[2021-06-22 13:44] wlach opened #697 "Add some kind of end-to-end testing"
#695 happened because we didn't manually test a case (has an annotation but no tags).

Ideally we would have some end-to-end tests that verified this type of case, I think puppeteer is the most popular standard for doing this (and has Firefox support):

https://github.com/puppeteer/puppeteer
https://jestjs.io/docs/puppeteer

[2021-06-22 19:12] wlach opened #699 "Surface errors for a metric somehow?"
@fbertsch pointed out in a discussion on Slack that you can surface the errors related to a metric (in this particular case: https://dictionary.telemetry.mozilla.org/apps/firefox_ios/metrics/pocket_open_story_position) by following the looker explore here:

https://dictionary.telemetry.mozilla.org/apps/firefox_ios/metrics/glean_error_invalid_label

Worth considering whether we could do some automa

[2021-06-24 15:45] wlach opened #703 "Add looker links to events explore (with event counts)"
For events like [addons.open_addon_setting](https://dictionary.telemetry.mozilla.org/apps/fenix/metrics/addons_open_addon_setting), we should provide links to the Looker event count explore as soon as it's implemented.

There's a few pieces left to land before this explore is ready:

https://github.com/mozilla/lookml-generator/issues/156 is one I know of

/cc @fbertsch

[2021-06-24 16:33] wlach commented on #680
Talking with @fbertsch in the glean dictionary meeting, this might be a good thing to work on sooner than later so we can increase the robustness and reliability of the glean dictionary output. We've already seen a few issues go by where small changes have inadvertently broken e.g. annotations (e.g. #700).

[2021-06-24 18:55] #693 closed

[2021-06-24 19:27] wlach commented on #679
Might be best done after #680

[2021-06-24 19:40] wlach commented on #641
I'm concerned about the performance impact of doing a fulltext search on the descriptions given how our current searching functionality is written ([very naively and inefficiently](https://github.com/mozilla/glean-dictionary/blob/f0d48f7c6e336a75036bfa3b6a25f903ebabb4a3/src/state/filter.js)). It might be worth adding this type of functionality for types and then figuring out how to add support for

[2021-06-25 13:20] wlach opened #705 "Make it clear when a metric is no longer present in source code"
We warn when a metric is expired, but we don't currently make it clear when a metric is no longer in the source code. Once https://github.com/mozilla/probe-scraper/issues/320 is implemented, we should do this.

Example of where this would be useful: https://github.com/mozilla-mobile/fenix/pull/20156#issuecomment-868492244

[2021-07-19 03:26] chichi012 commented on #469
Hi @wlach I'm working on this in #732
However, I have not been able to test this locally. Can you advise on the best way to go about testing?

[2021-07-19 17:10] Iinh commented on #469
Hi @chichi012, thank you for taking this up. @wlach is out this month so I'll be reviewing your PR instead :) Were you able to set up a local instance of Glean Dictionary using [this guide](https://github.com/mozilla/glean-dictionary#getting-started)? The README also has information on how to run tests after you finish setting up locally. Hope that clarifies 🙂

[2021-07-20 05:33] chichi012 commented on #469
Thank you @Iinh. I was able to set up the instance of Glean Dictionary using the guide and ran the test using `npm run test:jest`. But I wasn't able to see the UI changes I made in my PR.

[2021-07-22 14:50] #469 closed

[2021-07-23 20:37] #317 closed

[2021-08-10 09:32] wlach commented on #495
Hey @chichi012, #766 isn't quite right-- it's not actually the git date we want, but the last *deploy time* for the data the Glean Dictionary is using. Sorry, I probably could have specified this better given that this was marked as a good first issue.

In any case, you can get that deploy time data here (as JSON):

https://probeinfo.telemetry.mozilla.org/firefox/general

We should be able to pret

[2021-08-10 19:59] chichi012 commented on #495
Thanks for the feedback @wlach . I would love to give it another try

[2021-08-11 17:42] wlach commented on #697
Playwright looks like another interesting option: https://playwright.dev/

Might be inclined to try that

[2021-08-11 22:22] #647 closed

[2021-08-16 19:00] #495 closed

[2021-08-24 13:45] jklukas opened #787 "Provide sample queries on table page"
On a BQ table page, we list "live data" and "stable view", each with a table/view qualified at the namespace level. Users may be lacking context for what these terms mean, so we should provide an info field that links to the "table layout and naming" section of DTMO (https://docs.telemetry.mozilla.org/cookbooks/bigquery/querying.html#table-layout-and-naming) and provide some immediate message abou

[2021-08-24 14:05] wlach commented on #787
Thanks for filing this Jeff. Adding some info items and docs links should be easy, I'll get started on that right away.

Wrt examples, I'd be inclined to just refer to docs.telemetry.mozilla.org for details on how to make the queries, at least for now. In general I expect we'll be increasingly be encouraging people to use Looker to access Glean data, and streamlining the workflow of making manual

[2021-08-24 14:12] jklukas commented on #787
That's an entirely reasonable assessment :)

That link looks like it's probably the right thing to be the primary link in the info box for "stable view".

AFAIK, there's generally no easy way to determine your own client_id in Glean apps, including Fenix. So I don't think there's any way to adapt the "view your own pings" idea to a Glean-based one.

[2021-08-24 14:20] wlach commented on #787
Right, and we have the glean ping viewer for that sort of thing. However, I think being able to monitor the stream of incoming live pings is something that deserves a short tutorial and this seems like a good place to do it. I don't think we need to restrict ourselves to the original concept of "viewing your own pings".

[2021-08-24 17:58] #787 closed

[2021-08-26 14:26] wlach opened #791 "Show high-level Looker dashboards for each application?"
In #605 we proposed linking to Looker explores for each Glean application, but the higher-level Looker dashboards may also be relevant to data practitioners at Mozilla.

The Glean Dictionary might be a more useful tool for discovering these dashboards (and also facilitates linkages with other lower-level information related to them). This discussion especially given that this is an area under acti

[2021-09-10 17:22] #641 closed

[2021-09-10 20:07] #705 closed

[2021-09-13 14:55] #703 closed

[2021-09-14 13:58] wlach commented on #697
FWIW I asked about this on webcompat a while back and got this explanation from jgraham:

[2021-09-14 19:36] wlach opened #832 "Add a tags summary page"
We have a half-finished "tags" page in the source code, which lists out the tags for an application and the number of metrics matching them. This would likely be useful for finding Firefox for Android telemetry. Let's try to finish this up and get some feedback from people on how they like it.

[2021-09-16 14:29] wlach opened #835 "Improve search for event extras"
Sometimes the event extras field has important information that would show a metric to be relevant where you wouldn't expect it to be just from the name or description.

For example:

https://dictionary.telemetry.mozilla.org/apps/fenix/metrics/events_browser_menu_action

has the extra `item` which is:

A string containing the name of the item the user tapped. These items include: add_to_homescreen

[2021-09-16 18:01] wlach opened #836 "Add some metadata to tell if a metric was recently added"
During the fenix event explore demo yesterday, the question came up on whether it was possible to see when a metric was first added. It currently *isn't* but we the probe info service does provide this information if you look at the revision information.

We should add a metadata column to the table saying when it was first seen and maybe also provide some warning text under "Access" saying that i

[2021-09-16 20:45] Iinh commented on #836
Hey @wlach, I can take this issue.

Before I begin, am I correct in my understanding that this from the example below is where we get the first-added information?

![CleanShot 2021-09-16 at 13 39 06@2x](https://user-images.githubusercontent.com/28797553/133682650-e923bed0-6ea5-41a2-a1f2-dfc66be44a8f.png)

[2021-09-16 20:45] Iinh commented on #832
What are some things you have in mind for the Tags/Feature page? Should we work on a separate component, e.g. a FeatureDetail page for each tag?

[2021-09-16 21:02] wlach commented on #836
Yup that's the right place!

[2021-09-17 16:33] wlach commented on #832
That might be something to consider, but I suspect we should just start with a list of the tags. Clicking on the tag should take you to the metrics with that filled in as the search. I think this is 99% ready already, just commented out:

https://github.com/mozilla/glean-dictionary/blob/07acd6113df312b40fe351d338528b88e577733b/src/pages/AppDetail.svelte#L80

Definitely welcome any thoughts you mig

[2021-09-17 19:52] #456 closed

[2021-09-20 17:45] #836 closed

[2021-09-22 22:02] wlach opened #850 "Firefox for Android shouldn't use Fenix logo"
@magorlick mentioned this. It's confusing that we're using the Fenix (nightly) logo for Firefox for Android. We should just use the same logo we use for Firefox for Desktop and Firefox for iOS.

<img width="1376" alt="image" src="https://user-images.githubusercontent.com/20569/134427852-f6de85cb-1df4-43fe-9bf9-b51f3cc7de58.png">

The logic we need to change is around here: https://github.com/mozil

[2021-09-27 20:01] chichi012 commented on #850
@wlach I have created a PR #861  that fixes this issue.
A couple of observations

From line 13 in the AppList.svelte file ,const URL = "data/apps.json" I saw we're pulling the apps from that URL. In my local data/apps.json file, I noticed that app_name for Firefox for Android is fenix. We should consider(if possible) renaming app_name to firefox_android to be consistent with firefox_ios, firefox_d

[2021-09-29 20:34] wlach commented on #642
I filed a bug in glean parser to handle invalid HTML in the future: https://bugzilla.mozilla.org/show_bug.cgi?id=1733256

I'm going to just literally render anything passed in for the Glean Dictionary from now on, PR incoming...

[2021-09-29 20:35] #640 closed

[2021-10-01 14:04] #642 closed

[2021-10-01 19:38] wlach opened #871 "Links to Firefox desktop looker explores shouldn't include channel specifier"
With @scholtzan's recent work on a Firefox desktop namespace in Looker, we now have links into the metrics explore from looker. For example:

![image](https://user-images.githubusercontent.com/20569/135676843-d620af5e-80be-4370-bb01-085ae9166198.png)
https://dictionary.telemetry.mozilla.org/apps/firefox_desktop/metrics/fog_failed_idle_registration

For mobile products (like Firefox for Android), w

[2021-10-01 19:39] wlach commented on #871
@Iinh can you take a crack at this? I'd like to fix it in the next version of Glean Dictionary (which I'm hoping to ship out sometime on Monday). Hopefully shouldn't be too difficult.

[2021-10-01 21:34] #871 closed

[2021-10-01 21:42] wlach opened #873 "Links to looker explores should not reference client count for pings without a client id"
A good example would be the explore for the background update ping: https://mozilla.cloud.looker.com/explore/firefox_desktop_background_update/background_update?qid=XMTEmtkFtlBVT9sCPQ9pSh&toggle=fil,vis

The client count has no meaning, because a client id is not sent with these pings:

https://dictionary.telemetry.mozilla.org/apps/firefox_desktop_background_update/pings/background-update

For the

[2021-10-04 19:57] wlach opened #880 "Allow searching *just* by tag"
Currently search matches against all of tags, metric name, and description. However, in some cases you might want to just search by the tag (e.g. `Search`) to avoid getting a bunch of false positives. We should add this.

[2021-10-05 19:26] #832 closed

[2021-10-18 16:18] Iinh opened #913 "Move bug/review link handling to etl script"
We should move bug/review link handling (that's done [here](https://github.com/mozilla/glean-dictionary/blob/main/src/formatters/links.js)) to our etl script so that we don't have to repeat doing it in other apps that read from our metadata api, e.g. GLAM- see: https://github.com/mozilla/glam/pull/1659#pullrequestreview-782198901.

[2021-10-27 19:02] wlach opened #926 "Scrape legacy Firefox metadata (for searching + API queries only)"
As a follow-on to #834, we might consider scraping legacy Firefox desktop probe metadata just to create a search index + a set of json files corresponding to the data for this platform. This would let us deprecate the probe search service in GLAM, replacing it entirely with the Glean Dictionary.

[2021-11-02 14:31] wlach opened #936 "Looker links for VPN don't quite work"
(reported by @birdsarah)

e.g. https://dictionary.telemetry.mozilla.org/apps/mozilla_vpn/metrics/sample_app_permissions_view_opened
has this link: https://mozilla.cloud.looker.com/explore/mozilla_vpn/main?qid=2SKYHvTFTv489Dc16VGFa9&toggle=vis

Which has a bunch of fields that Looker doesn't know about:

![image](https://user-images.githubusercontent.com/20569/139867042-c71888e5-a890-454e-9f1e-e3a8

[2021-11-04 20:41] #936 closed

[2021-11-05 21:40] wlach commented on #605
Unclear how useful this would actually be.

[2021-11-19 18:12] #880 closed

[2021-11-22 21:50] wlach commented on #697
#863 fixed this

[2021-11-22 21:50] #697 closed

[2021-11-29 14:29] wlach opened #984 "Show expiry information for Firefox"
Firefox desktop uses version numbers instead of dates for expiry. For example:

https://dictionary.telemetry.mozilla.org/apps/firefox_desktop/metrics/browser_engagement_uri_count

@badboy and I discussed this a bit on #glean-dictionary:

@wlach:

@badboy:

--

Tentative proposal:

* In our python scripts, get a list of release dates from the above mentioned product details API (https://product-det

[2021-11-29 14:33] wlach commented on #984
Example of what this would look like:

![image](https://user-images.githubusercontent.com/20569/143886441-8f2564df-51ea-437e-bb2a-b97ff89c77ac.png)

[2021-11-29 14:43] chutten commented on #984
Which date are you choosing for `expiry_date`? The product details API you linked only includes release and beta. But a metric will be expired in Nightly before that time.

[2021-11-29 14:47] wlach commented on #984
Oops, forgot to mention that. I would suggest using the release date (yes, the fact that things will expire in beta and nightly sooner is a bit of a gotcha-- suggestions on what to do about that welcome)

[2021-11-29 15:05] chutten commented on #984
Without switching from product details to buildhub2 to get nightly dates, release is the best one to aim for. (in which case the simpler [history of major releases file](https://product-details.mozilla.org/1.0/firefox_history_major_releases.json) could be used instead)

To know whether this is an acceptable gotcha rather depends on the use cases you see for the `expiry_date` field. Since it'll be

[2021-11-29 16:22] wlach commented on #984
TIL!

Oh, the usual suspects (in rough order of importance):

1. Data Scientists
2. Product Managers
3. Engineering (both Data and Product)

I expect that experienced users of all descriptions will understand the release train model, but providing some hints might be helpful for onboarding.

We have a "recently added" warning which I think might help in this case?

![image](https://user-images.git

[2021-11-29 16:40] chutten commented on #984
Maybe we link to the Release Calendar plainly, then, without parsing for the current train (see also https://whattrainisitnow.com/).

But no other app gets special train treatment (though they split their app ids, but then you combine them to a single family for display...), so maybe I'm overthinking and we can put it in and iterate as we learn how folks use it.

I dunno. For whatever reason I par

[2021-11-29 21:37] #680 closed

[2021-12-03 15:42] Iinh commented on #984
Sure, I can start working on this!

[2021-12-07 15:26] wlach opened #1000 "Handle nuances of "in source" better"
Currently our concept of "in source" only considers the latest version of a product, but it's possible in some cases for a metric to be still "in source" on other channels even if it's expired there. The most common case is where a metric is removed on the nightly channel of an application, but remains on beta and/or release.

For applications like Firefox for Android with multiple app identifiers

[2021-12-07 19:16] chutten commented on #1000
We could make Glean Dictionary aware of Firefox Desktop's channels in a similar means to Firefox for Android's. `gecko-dev` has `beta` and `release` channels we could specify in `probe-scraper`'s `repositories.yaml`. I did think about it, but went for the more straightforward app declaration to keep things from sprawling.

[2021-12-10 20:29] scholtzan opened #1002 "Looker Glean metrics references broken"
See https://mozilla.slack.com/archives/C4D5ZA91B/p1639167590282900 for reference

It looks like there is a bug in the generated Looker queries referencing Glean metrics. Specifically for https://dictionary.telemetry.mozilla.org/apps/firefox_ios/metrics/glean_baseline_duration the [Looker query](https://mozilla.cloud.looker.com/explore/firefox_ios/baseline?f%5Bbaseline.channel%5D=mozdata.org%5E_moz

[2021-12-13 16:15] #1002 closed

[2021-12-15 16:59] #926 closed

[2021-12-15 17:02] wlach opened #1016 "Redirect netlify functions"
We added some netlify functions in #834, but they have awkward URLs like:

`/.netlify/functions/metrics_search_firefox_legacy?search=ms&glam=1&limit=30`

Using the instructions here:

https://www.jamesqquick.com/blog/how-to-redirect-netlify-functions-to-a-simpler-path

We should be able to simplify them to something like:

`/api/metrics_search_firefox_legacy?search=ms&glam=1&limit=30`

[2021-12-15 17:02] wlach commented on #1016
@Iinh can you take this? Should be a quick one :)

[2021-12-22 21:42] #1016 closed

[2021-12-22 22:01] #984 closed

[2022-01-03 09:34] brizental opened #1046 "Should we disable telemetry on CI tests / Netlify PR deploys?"
I am not sure if it is already disabled, thus the question marks.

For Glean specifically we should set the `automation` source tags for pings coming from automation. See: https://mozilla.github.io/glean/book/reference/debug/sourceTags.html

I am happy to take this bug, I'd just like to know if it is necessary.

[2022-01-11 16:29] #1046 closed

[2022-01-13 22:58] wlach opened #1066 "Handle absent tag definitions"
It's probable that when [bug 1746941](https://bugzilla.mozilla.org/show_bug.cgi?id=1746941) and/or https://github.com/mozilla-mobile/fenix/pull/22954 land, there will be a short interval when these products have tags but no definitions for them. I've verified locally that probe-scraper has no issues with this, but looking at the source I suspect the Glean Dictionary might. Should be a relatively m

[2022-01-20 17:05] #1066 closed

[2022-01-28 13:45] wlach opened #1099 "Can't search on tags with spaces in them"
The new tags from Firefox Desktop sometimes have spaces in them, for example `Firefox :: General`:

![image](https://user-images.githubusercontent.com/20569/151557067-6650fae4-45eb-4929-a06e-74cd76c78f6a.png)

However, searching on the tags doesn't currently work, because the Glean Dictionary interprets the current search string we use (`tags:Firefox :: Desktop`) as looking for the tag `Firefox`:

[2022-01-31 14:59] Dexterp37 opened #1110 "Attempting to add an annotation for new metrics leads to a GitHub 404"
When browsing to the metrics, if the metric does not have any previous annotation, the following UI is showed:

![immagine](https://user-images.githubusercontent.com/883721/151815823-81669b50-09d2-4b3f-b6f5-615355779690.png)

Clicking on the "add some" link leads to a 404 page on GitHub. That's because, I believe, the link is, for example, like follows:

`https://github.com/mozilla/glean-annotatio

[2022-02-01 17:25] wlach commented on #1110
This definitely used to work. Not sure what happened

[2022-02-03 19:51] Iinh commented on #1110
I'm not sure what happened either (I was not able to reproduce the issue). For example, clicking on the "add some" link for this probe seems to work ok: https://dictionary.telemetry.mozilla.org/apps/fenix/metrics/activation_activation_id

I'm closing this issue for now, feel free to reopen it if I missed anything @Dexterp37.

[2022-02-03 19:51] #1110 closed

[2022-02-03 20:25] Dexterp37 commented on #1110
Weird, it works :| Thanks for double checking, it definitely wasn't working before and was leading me to a 404. Caching? No clue.

[2022-02-03 22:14] wlach commented on #1110
May have been a GitHub bug?

[2022-03-04 14:45] Dexterp37 opened #1164 "[Feature Request] Allow users to subscribe for metrics/pings expiration"
From [this proposal](https://docs.google.com/document/d/1WWD7tB5ctaGFnlSnSRkD2KQoGLzP27i1XHLTJWarUaQ/edit#heading=h.idfbx685jcc1)

This could potentially be implemented using e mechanism similar to the Glean annotations, e.g. having users edit a file in the annotations repository to add their email address, and then having the probe-scraper to parse that.

[2022-03-16 13:01] #1099 closed

[2022-03-21 08:57] brizental opened #1188 ""(Glean.core.Config) A list of tags cannot contain more than 5 elements or less than one." error in production"
It seems we are entering this conditional https://github.com/mozilla/glean-dictionary/blob/2246643fb0b8bc936252c1e6ea4d9967020884cb/src/telemetry/index.js#L54-L56 in production. Which we should not be.

@Iinh What is the value of the GLEAN_SOURCE_TAGS environment variable in Netlify production? It should be `undefined`.

[2022-03-21 13:26] Iinh commented on #1188
@brizental I just checked, we didn't have `GLEAN_SOURCE_TAGS` in the list of the environment variables. Adding now; does the below look correct to you?

<img width="881" alt="Screen Shot 2022-03-21 at 9 24 34 AM" src="https://user-images.githubusercontent.com/28797553/159270112-c2d88fd3-0e52-4744-9374-e38a4fd51e21.png">

[2022-03-21 15:56] brizental commented on #1188
Thanks for checking @linh, hm. `GLEAN_SOURCE_TAGS` is the correct, that is what I meant by "it should be `undefined`.

This is a mystery then, why are we going inside that conditional in production then? 🤔

I'll investigate this tomorrow.

[2022-03-24 14:33] #1188 closed

[2022-04-12 16:34] Dexterp37 opened #1225 "Show the ping 'reasons', if present"
Glean pings can define and document different [reasons](https://mozilla.github.io/glean/book/reference/yaml/pings.html#reasons) why they would be sent. Unfortunately, the Glean Dictionary does not show them. For example, [the metrics ping](https://dictionary.telemetry.mozilla.org/apps/fenix/pings/metrics) has [4 reasons](https://github.com/mozilla/glean/blob/76289738c431780633eab9f16ac0e68800c3e5c

[2022-04-19 20:19] #1225 closed

[2022-08-12 17:57] Dexterp37 opened #1375 "Links to `url` metric type Glean Book docs are broken"
For a given url metric, in the Glean Dictionary, the following text is displayed at the top of the page:

The first link is `https://mozilla.github.io/glean/book/user/metrics/undefined` which is broken, it should be `https://mozilla.github.io/glean/book/reference/metrics/url.html#recorded-errors`

See https://dictionary.telemetry.mozilla.org/apps/firefox_desktop/metrics/search_engine_default_submi

[2022-08-12 17:58] Dexterp37 commented on #1375
Note to self: we need to update https://github.com/mozilla/glean-dictionary/blob/62b0a1b0e8b020c0c3230c011219c02377f68309/src/pages/MetricDetail.svelte

[2022-08-15 12:36] #1375 closed

[2022-08-27 00:31] rafrombrc opened #1389 "Looker explore link for Glean events on Firefox Desktop"
Right now all Fx Desktop event probes link to the legacy telemetry events explore. A Desktop Glean events explore is [being created](https://mozilla-hub.atlassian.net/browse/LOOK-129), we should point the explore link there when showing Glean events for Desktop.

[2022-09-30 13:22] Standard8 opened #1433 "Event information needs category and name fields"
The Glean dictionary tells me the event name is e.g. [newtab.search.ad.click](https://dictionary.telemetry.mozilla.org/apps/firefox_desktop/metrics/newtab_search_ad_click), but to access the event in via BigQuery, you need the event category and name.

Whilst you can go look at the code, maybe the Glean Dictionary should be pulling these out automatically?

[2022-10-12 19:27] fbertsch opened #1450 "jwe, labeled_rate, url, and text fields should show e.g. `url` as the metrics field, not `url2`"
This is a followup to bug https://bugzilla.mozilla.org/show_bug.cgi?id=1737656#c21. In that bug, we migrated the above metric types to a corresponding `2` field, e.g. `metrics.url2.$field`. As such the metric shows up in that `2` field in the live and stable tables.

The views, however, expose them as they _should_ be, e.g. `metrics.url`. So we should link to those instead, since people query this

[2022-10-20 07:48] Dexterp37 opened #1462 "Enable filtering by Glean metric type"
When I use the Glean dictionary and I don't have a specific name for a metric, I find myself wanting to restrict skimming through the metrics only to specific types, e.g. events.

It would be useful to have some way to expose such a functionality.

"As a user, I want to be able to only see metrics of a given type (e.g. events) to search more effectively if I don't know specifically what I'm lookin

[2022-10-20 11:10] Iinh commented on #1462
Thanks for the request @Dexterp37! The implementation for this feature should be pretty straightforward since we already have full-text search available. I'll start working on it.

[2022-10-20 15:32] dnarcese opened #1467 "Enable filtering by expiry date"
I would love a way to filter by expiry date and to be able to choose a range.

Every 6 months I do an audit of our telemetry and renew metrics that are expiring soon. Currently I have to search through the metrics.yml.

It would be great to have a filter on the glean dictionary to see, for example, all metrics expiring in the next 3 months, or next 6 months, etc.

[2022-10-20 15:59] Iinh commented on #1467
Hi @dnarcese, thanks for filing! I'm going to prioritize this work in the next few weeks as I've noticed recently more users are asking for features that help signal metric expiry information.

[2022-10-24 12:42] #1462 closed

[2022-10-28 16:13] Dexterp37 opened #1479 "Report the 'union' tables for products that have them"
Some products (e.g. [Focus Android](https://github.com/mozilla/probe-scraper/blob/926f0af1fa2a5e145fc0d7221905f72bba549279/repositories.yaml#L670-L685)) have multiple channels, with one app id per channel (that's the case mostly for mobile products). These products generally have a dataset that essentially UNIONs the data of all the channels.

For example, Focus Android has the `focus_android`  da

[2022-10-28 16:18] Dexterp37 commented on #1479
cc @scholtzan

[2022-10-28 16:20] scholtzan commented on #1479
These tables are generated through the `glean_usage` generator: https://github.com/mozilla/bigquery-etl/tree/main/sql_generators/glean_usage

[2022-11-07 22:42] edugfilho opened #1497 "Support version-based as well as date expiry"
Currently [expiry version numbers are supported for `Firefox Desktop` but other apps are assumed to have `expiry` as a date. ](https://github.com/mozilla/glean-dictionary/blob/cbda56f858db72b0cfce4eaa493843a459c4ffc6/etl/expiry.py#L13) However the current state is that `expiry` can be one or another:

 _`expiry` is a version in many (perhaps even most) cases, but can also be a date (and these can

[2022-11-08 09:41] badboy commented on #1497
I'd like to help here to get that fixed.

[2022-11-08 17:50] edugfilho commented on #1497
Reopening due to https://github.com/mozilla/glean-dictionary/pull/1499#issuecomment-1307603864

[2022-11-14 23:12] Iinh opened #1513 "Track the latest release version more precisely for all products"
Currently, in Firefox products, if a metric has a version number as its expiry information, we compare it to the latest release version to determine if it has expired. This latest release info we pull from [FIREFOX_PRODUCT_DETAIL_URL](https://product-details.mozilla.org/1.0/firefox_history_major_releases.json), which is an API that tracks Fx desktop major releases.

However, [as Jan-Erik pointed o

[2022-11-14 23:23] #1497 closed

[2022-11-16 15:27] fbertsch opened #1515 "Feature Request: An easy-to-copy column value for each metric"
I often use the Glean Dictionary while writing queries on Glean tables. One small hindrance is that the column is down below:
<img width="656" alt="Screen Shot 2022-11-16 at 10 26 23 AM" src="https://user-images.githubusercontent.com/20819040/202222031-bd604f74-afec-447e-95aa-984201f02e01.png">

So not only do I have to scroll down, it's hard to copy+paste that value because it's a link.

Could we

[2022-11-16 18:24] Iinh opened #1516 "Tippy (tooltip library) doesn't work in production"
It seems that Tippy no longer works on dictionary.telemetry.mozilla.org

<img width="440" alt="CleanShot 2022-11-16 at 13 23 20@2x" src="https://user-images.githubusercontent.com/28797553/202262095-6f0ee705-847a-4d14-a83e-58dd16b6b185.png">

<img width="634" alt="CleanShot 2022-11-16 at 13 23 12@2x" src="https://user-images.githubusercontent.com/28797553/202262112-a3e401fa-c7a2-45a0-be98-8946962f0

[2022-11-18 09:53] Dexterp37 opened #1519 "Add Changelog section to Glean Dictionary for metrics and pings"
Originally filed [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1801180) by @rebecca-burwei

---

With Sponsored Tiles, Suggest and Urlbar on Firefox Desktop (Legacy telemetry), the implementing engineers write changelog-style docs for the probes. Here a few examples that illustrate what the changelog looks like and why this is necessary:

- https://firefox-source-docs.mozilla.org/browser/url

[2022-11-18 09:57] Dexterp37 commented on #1519
@rebecca-burwei (or @perrymcmanis144 , since you were cc'd on the initial bug), would you kindly expand a bit on what do you use the information for / why that's necessary or helpful? Thanks!

[2022-11-18 16:08] rebecca-burwei commented on #1519
Probes change frequently (for evidence, see any of the examples I linked above). It's impossible to interpret our historical data without knowing how the probes have changed (for evidence, see any of the examples I linked above).

[2022-11-18 16:11] Dexterp37 commented on #1519
@rebecca-burwei the changelog mostly report "thing X was added, thing Y was removed in version Z". Is that good enough? I'm trying to get a better understanding of what you specifically are looking for because there might be an opportunity for us to automate this.

[2022-11-18 16:29] rebecca-burwei commented on #1519
Oh one more that would be very helpful:
"After version V, this probe is turned on/off by default for all clients on channels A, B, C."

[2022-11-18 16:36] Dexterp37 commented on #1519
@rebecca-burwei that's great context , thanks!

@Iinh @badboy do you think the above could be achieved via the probe info service data?

[2022-11-20 19:39] wlach commented on #1516
Noticed this myself. This one's weird. Looking at the generated CSS it seems like it's not processing/including the tippy css that's being included in global styles:
![image](https://user-images.githubusercontent.com/20569/202922326-5aba0d28-e4ea-4d9b-bae6-0174f11cbb3a.png)

https://github.com/mozilla/glean-dictionary/blob/c8c2a42fba76225827c08d816322abe7ff783c6f/src/GlobalStyles.svelte#L11

Weird

[2022-11-21 13:49] badboy commented on #1519
This partly overlaps with [glean-annotations](https://github.com/mozilla/glean-annotations), which already allow to add further (unstructured) data to metrics.

Additionally, metrics can have a `version` field ([example](https://github.com/mozilla/glean/blob/cow-labels/glean-core/metrics.yaml#L453), [in use here](https://dictionary.telemetry.mozilla.org/apps/firefox_desktop/metrics/glean_error_pre

[2022-11-22 08:55] Dexterp37 commented on #1516
I stumbled upon this myself as well :\ This is fairly annoying :-D

[2022-11-22 14:37] #1516 closed

[2022-11-28 11:01] badboy commented on #1519
Couple more thoughts I had on this:

* Do we right now already know about cases in Glean metrics that changed and it was documented (other than my example above)?
* Frequently changing metrics might indicate that the design of said metric is suboptimal. That's not to say it can't happen, but might be a good point to take a step back and redesign that metric
* Not all metrics are defined in the fin